<div class="container-fluid">
    <div class="body-chart-report">
        <div class="content-filter">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="content-filter__label"><span ng-bind="bindTextI18n('label_tungay')"></span>:</label>
                        <input kendo-date-time-picker
                               ng-model="str_TuNgay"
                               k-ng-model="obj_TuNgay"
                               k-max="maxDate"
                               k-rebind="maxDate"
                               k-on-change="fromDateChanged()"
                               k-format="'yyyy/MM/dd HH:mm:ss'" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="content-filter__label"><span ng-bind="bindTextI18n('label_denngay')"></span>:</label>
                        <input kendo-date-time-picker
                               ng-model="str_DenNgay"
                               k-ng-model="obj_DenNgay"
                               k-min="minDate"
                               k-rebind="minDate"
                               k-on-change="toDateChanged()"
                               k-format="'yyyy/MM/dd HH:mm:ss'" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <button id="btn_xembaocao" class="btn btn-outline-info btn-viengtham" ng-click="xemBaoCao()"><i class="fas fa-chart-pie fas-sm"></i> {{bindTextI18n('button_xembaocao')}}</button>
                    <button id="btn_xuatExcel" class="btn btn-outline-secondary btn-viengtham" ng-click="xuatExcel()"><i class="fas fa-file-excel fas-sm"></i> <span ng-bind="bindTextI18n('button_xuatexcel')"></span></button>
                </div>

            </div>
        </div>


        <div class="tab-pane fade show active" id="pills-bieudo" role="tabpanel" aria-labelledby="pills-bieudo-tab">
            <div class="body-chart mt-4">
                <div class="row">
                    <div class="col-6">
                        <div class="card card-chart mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h5 class="m-0 font-weight-bold text-info text-uppercase"><span ng-bind="bindTextI18n('label_bieudodonhang')"></span></h5>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="pie" class="chart chart-pie"
                                            chart-colors="colors"
                                            chart-data="data"
                                            chart-labels="labels"
                                            chart-options="options"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card card-chart mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h5 class="m-0 font-weight-bold text-info text-uppercase"><span ng-bind="bindTextI18n('label_baocaodonhang')"></span></h5>
                            </div>
                            <div class="card-body">
                                <div kendo-grid="grid" k-data-source="gridData" k-options="gridOptions" id="grid"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


</div>


