body {
    overflow-x: scroll;
    overflow-y: hidden;
}
.listdanhmuc {
    list-style: none;
    cursor: pointer;
    line-height: 30px;
    color: #0d1256;
    white-space: nowrap;
    font-weight: 600;
    background-color: #fff;
    font-size: 13px;
    padding-top: 7px;
}
    .listdanhmuc:hover {
        color: #f51b30;
    }
    .listdanhmuc:checked {
        background-color: #17a2b8;
    }
    .uldanhmuc {
        height: calc(100vh - 114px);
        overflow: scroll;
    }
.headerdanhmuc {
    list-style: none;
    background-color: #ebebeb;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 22px;
    margin-top: 16px;
}
