.map-lotrinhdichuyen {
    display: block;
    height: calc(100vh - 15rem);
}

.wrapper_2 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
}

    .wrapper_2 .timelineBlock {
        background: #ffffff;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 10px;
        left: 6px;
        z-index: 1000;
        width: 440px;
        height: auto;
        border-top: 1px solid #c3c3c3;
        opacity: .9;
        border-radius: 3px;
    }

        .wrapper_2 .timelineBlock ul {
            list-style: none;
            padding: 0px;
            width: 419px;
            height: 370px;
            padding: 0px 10px 0px 10px;
            overflow-y: auto;
            margin: 0px;
        }

            .wrapper_2 .timelineBlock ul li {
                /*padding: 10px 0px 10px 0px;*/
                border-bottom: 1px solid #c3c3c3;
                height: 20px;
                line-height: 20px;
                cursor: pointer;
            }

                .wrapper_2 .timelineBlock ul li:last-child {
                    border: none;
                    /*padding: 10px 0px 0px 0px;*/
                }

                .wrapper_2 .timelineBlock ul li.active {
                    border-left: 2px solid #1178C7;
                    border-bottom: 1px solid #1178C7;
                    padding-left: 5px;
                    color: #1178C7;
                }

    .wrapper_2 #timelineContent {
        display: none;
    }

    .wrapper_2 .timelineBlock .timelineControl {
        position: relative;
        width: 100%;
        height: 50px;
        text-align: center;
    }

        .wrapper_2 .timelineBlock .timelineControl * {
            cursor: pointer;
            text-decoration: none;
        }

        .wrapper_2 .timelineBlock .timelineControl #backC {
            display: inline-block;
            width: 48px;
            height: 48px;
            background: url('../../../assets/img/iconlotrinh/back.png');
        }

        .wrapper_2 .timelineBlock .timelineControl #playC {
            display: inline-block;
            width: 48px;
            height: 48px;
            background: url('../../../assets/img/iconlotrinh/play.png');
        }

        .wrapper_2 .timelineBlock .timelineControl #pauseC {
            display: inline-block;
            width: 48px;
            height: 48px;
            background: url('../../../assets/img/iconlotrinh/pause.png');
        }

        .wrapper_2 .timelineBlock .timelineControl #stopC {
            display: inline-block;
            width: 48px;
            height: 48px;
            background: url('../../../assets/img/iconlotrinh/stop.png');
        }

        .wrapper_2 .timelineBlock .timelineControl #nextC {
            display: inline-block;
            width: 48px;
            height: 48px;
            background: url('../../../assets/img/iconlotrinh/next.png');
        }

        .wrapper_2 .timelineBlock .timelineControl #backC:hover {
            background: url('../../../assets/img/iconlotrinh/backhv.png');
        }

        .wrapper_2 .timelineBlock .timelineControl #playC:hover {
            background: url('../../../assets/img/iconlotrinh/playhv.png');
        }

        .wrapper_2 .timelineBlock .timelineControl #pauseC:hover {
            background: url('../../../assets/img/iconlotrinh/pausehv.png');
        }

        .wrapper_2 .timelineBlock .timelineControl #stopC:hover {
            background: url('../../../assets/img/iconlotrinh/stophv.png');
        }

        .wrapper_2 .timelineBlock .timelineControl #nextC:hover {
            background: url('../../../assets/img/iconlotrinh/nexthv.png');
        }

        .wrapper_2 .timelineBlock .timelineControl #show-hide {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 16px;
            height: 16px;
            display: inline-block;
        }

        .wrapper_2 .timelineBlock .timelineControl .shows {
            background: url('../../../assets/img/iconlotrinh/down.png') center top;
        }

        .wrapper_2 .timelineBlock .timelineControl .hides {
            background: url('../../../assets/img/iconlotrinh/up.png') center top;
        }

        .wrapper_2 .timelineBlock .timelineControl .loading {
            position: absolute;
            top: 10px;
            right: 2px;
            display: none;
        }
