/otats_core/LSPosMVC/Logs
/otats_core/LSPosMVC/Logs
/otats_core/LSPosMVC/bin
/otats_core/LSPosMVC/bin/roslyn
/otats_core/LSPosMVC/bin
/otats_core/.vs/OTA_TS/CopilotIndices
/otats_core/.vs
/otats_core/LSPos_Data/bin
