
<div class="container-fluid">
    <div class="content-filter">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="content-filter__label"><span ng-bind="bindTextI18n('label_tungay')"></span>:</label>
                    <input kendo-date-time-picker
                           ng-model="str_TuNgay"
                           k-ng-model="obj_TuNgay"
                           k-max="maxDate"
                           k-rebind="maxDate"
                           k-on-change="fromDateChanged()"
                           k-format="'yyyy/MM/dd HH:mm:ss'" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="content-filter__label"><span ng-bind="bindTextI18n('label_denngay')"></span>:</label>
                    <input kendo-date-time-picker
                           ng-model="str_DenNgay"
                           k-ng-model="obj_DenNgay"
                           k-min="minDate"
                           k-rebind="minDate"
                           k-on-change="toDateChanged()"
                           k-format="'yyyy/MM/dd HH:mm:ss'" />
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <label class="content-filter__label"><span ng-bind="bindTextI18n('label_khohang')"></span>:</label>
                    <select kendo-combo-box="khohang"
                            k-placeholder="bindTextI18n('label_khohang')"
                            k-data-text-field="'tenKho'"
                            k-data-value-field="'iD_Kho'"
                            k-filter="'contains'"
                            k-auto-bind="false"
                            k-ng-model="khohangselect"
                            k-data-source="khohangData"
                            k-on-change="khohangOnChange(kendoEvent)"></select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="content-filter__label"><span ng-bind="bindTextI18n('label_mathang')"></span>:</label>
                    <select kendo-combo-box="mathang"
                            k-placeholder="bindTextI18n('label_mathang')"
                            k-data-text-field="'name'"
                            k-data-value-field="'id'"
                            k-filter="'contains'"
                            k-auto-bind="false"
                            k-ng-model="mathangselect"
                            k-data-source="mathangData"
                            k-on-change="mathangOnChange(kendoEvent)"></select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="content-filter__label"><span ng-bind="bindTextI18n('label_loai')"></span>:</label>
                    <select kendo-combo-box
                            id="loai"
                            k-placeholder="bindTextI18n('label_loai')"
                            k-data-text-field="'value'"
                            k-data-value-field="'id'"
                            k-filter="'contains'"
                            k-auto-bind="false"
                            k-ng-model="loaiselect"
                            k-data-source="loaiData"
                            k-on-change="loaiOnChange(kendoEvent)"></select>

                </div>
            </div>
        </div>
    </div>
    <div class="toolbarmenu">
        <button id="btn_xembaocao" class="btn btn-link btn-menubar" ng-click="xemBaoCao()"><i class="fas fa-chart-pie fas-sm color-infor"></i> {{bindTextI18n('button_xembaocao')}}</button>
        <button id="btn_xuatexcel" class="btn btn-link btn-menubar" ng-click="XuatExcel()"><i class="fas fa-file-excel fas-sm color-success"></i> <span ng-bind="bindTextI18n('button_xuatexcel')"></span></button>
    </div>
    <div kendo-grid="grid" k-data-source="gridData" k-options="gridOptions" id="grid"></div>
</div>
<div kendo-window="formchitiet" id="formchitiet" k-title="bindTextI18n('label_chitiet')" k-visible="false" k-modal="true" k-width="800" k-height="450">
    <div class="toolbarmenu">
        <button id="btn_xuatexcelchitiet" class="btn btn-link btn-menubar" ng-click="XuatExcelChiTiet()"><i class="fas fa-file-excel fas-sm color-success"></i> <span ng-bind="bindTextI18n('button_xuatexcel')"></span></button>
    </div>
    <div kendo-grid="griddetail" k-data-source="griddetailData" k-options="griddetailOptions" id="griddetail"></div>
</div>
