body {
    background: url(/assets/img/BG_login.png) no-repeat no-repeat center fixed;
    background-size: cover;
    /*width: 100%;
    height: 100%;*/
    font-family: 'Open Sans', sans-serif;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

.custom-margin {
    margin-left: 5%;
    width: 25%;
}

.coppy {
    margin-top: 28px;
}

    .coppy > a {
        /*//color: #f8f9fa;*/
    }

        .coppy > a:hover {
            text-decoration: none;
            color: #17a2b8;
        }

.card-background {
    background-color: #ffff;
    /*background-color: rgba(0,0,0,0.3) !important;*/
}

.background-header-footer {
    background-color: #ffff;
}

.body-login {
    margin-top: 6em;
}

.help-block {
    color: red;
}

.alert-message {
    margin-top: 0.5em;
}

.btn-login {
    width: 100%;
}

.logo-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 200px;
}

#login-radiobtn {
    width: 100%;
}

    #login-radiobtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

.langIcon {
    width: 24px;
    margin-right: 5px;
}
