.ck-form {
    padding-top: 2em;
}

.k-widget.k-upload.k-header.k-upload-sync {
    text-align: center;
    border: none;
    background: none;
}

.image-preview {
    width: 50%;
    margin-left: 25%;
}

.form-group.logo {
    border: 1px dashed blueviolet;
    padding: 5px;
    min-height: 20rem;
}
