body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #322338; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #322338, #485563); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #322338, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
    position: absolute;
}

div.main_menu_side::-webkit-scrollbar {
    width: 0px !important;
    height: 10px;
    background-color: #F5F5F5;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background-color: #929090;
}