
@media print {
    html {
        font-family: Arial;
    }

    .background {
        position: absolute;
        z-index: 1;
        position: absolute;
        z-index: 1;
        display: flex;
        width: 829px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bg-inthe {
        width: 829px;
        margin-top: -0.8px;
    }

    body {
        width: 829px;
        border: solid 1px #111;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .space {
        width: 100%;
        height: 107px;
    }

    .hocsinh {
        width: 50%;
        height: 702px;
        z-index: 1000;
        text-align: center;
        background: url(../../../images/background-a6.jpg);
        background-size: cover;
    }

    .qr-border {
        border: solid 4px #ffd000;
        padding: 20px;
        width: 280px;
        height: 280px;
        border-radius: 20px;
        position: absolute;
        margin-left: 90px;
    }

    .name {
        width: 180px;
        height: 25px;
        line-height: 25px;
        margin: auto;
        background-color: #ffd000;
        border-radius: 12px;
        position: absolute;
        top: -15px;
        left: 45px;
    }
}


* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

}

html {
    font-family: Arial;
}

body {
    width: 998px;
    border: solid 1px #111;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.space {
    width: 100%;
    height: 107px;
}

.hocsinh {
    width: 50%;
    height: 702px;
    z-index: 1000;
    text-align: center;
    background: url(../../../images/background-a6.jpg);
    background-size: cover;
}

.qr-border {
    border: solid 4px #ffd000;
    padding: 20px;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    position: absolute;
    margin-left: 105px;
}

.name {
    width: 180px;
    height: 25px;
    line-height: 25px;
    margin: auto;
    background-color: #ffd000;
    border-radius: 12px;
    position: absolute;
    top: -15px;
    left: 45px;
}

}


* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
