
<div class="container-fluid">
    <div class="content-filter">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="content-filter__label">{{bindTextI18n('label_tungay')}}:</label>
                    <input kendo-date-time-picker
                           ng-model="str_TuNgay"
                           k-ng-model="obj_TuNgay"
                           k-max="maxDate"
                           k-rebind="maxDate"
                           k-on-change="fromDateChanged()"
                           k-format="'yyyy/MM/dd HH:mm:ss'"/>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="content-filter__label">{{bindTextI18n('label_denngay')}}:</label>
                    <input kendo-date-time-picker
                           ng-model="str_DenNgay"
                           k-ng-model="obj_DenNgay"
                           k-min="minDate"
                           k-rebind="minDate"
                           k-on-change="toDateChanged()"
                           k-format="'yyyy/MM/dd HH:mm:ss'"/>
                </div>
            </div>
        </div>
    </div>
    <div class="toolbarmenu">
        <button id="btn_bm021xembaocao" class="btn btn-link btn-menubar" ng-click="xemBaoCao()"><i class="fas fa-chart-pie fas-sm color-infor"></i> {{bindTextI18n('button_xembaocao')}}</button>
        <button id="btn_bm021xuatexcel" class="btn btn-link btn-menubar" ng-click="XuatExcel()"><i class="fas fa-file-excel fas-sm color-success"></i> {{bindTextI18n('button_xuatexcel')}}</button>
    </div>
    <div kendo-grid="grid" k-data-source="gridData" k-options="gridOptions" id="grid"></div>
</div>


