
    <div class="container-fluid">
        <div class="content-filter">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="content-filter__label">{{bindTextI18n('label_tungay')}}:</label>
                        <input kendo-date-time-picker
                               ng-model="str_TuNgay"
                               k-ng-model="obj_TuNgay"
                               k-max="maxDate"
                               k-rebind="maxDate"
                               k-on-change="fromDateChanged()"
                               k-format="'yyyy/MM/dd HH:mm:ss'" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="content-filter__label">{{bindTextI18n('label_denngay')}}:</label>
                        <input kendo-date-time-picker
                               ng-model="str_DenNgay"
                               k-ng-model="obj_DenNgay"
                               k-min="minDate"
                               k-rebind="minDate"
                               k-on-change="toDateChanged()"
                               k-format="'yyyy/MM/dd HH:mm:ss'" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="content-filter__label">{{bindTextI18n('label_nhanvien')}}:</label>
                        <select kendo-combo-box="nhanvien"
                                k-placeholder="bindTextI18n('label_nhanvien')"
                                k-data-text-field="'tenDayDu'"
                                k-data-value-field="'idnv'"
                                k-filter="'contains'"
                                k-auto-bind="false"
                                k-ng-model="nhanvienselect"
                                k-data-source="nhanvienData"
                                k-on-change="nhanvienOnChange(kendoEvent)"></select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <button id="btn_bm030xembaocao" class="btn btn-outline-info btn-menu__report" ng-click="xemBaoCao()"><i class="fas fa-chart-pie fas-sm "></i> {{bindTextI18n('button_xembaocao')}}</button>
                    <button id="btn_bm030xuatexcel" class="btn btn-outline-secondary btn-menu__report" ng-click="XuatExcel()"><i class="fas fa-file-excel fas-sm "></i> {{bindTextI18n('button_xuatexcel')}}</button>
                </div>
            </div>
        </div>

        <ul class="nav nav-pills mb-3 mt-1" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" ng-click="clicktabchitiet()" id="pills-bieudo-tab" data-toggle="pill" data-target="#pills-bieudo" href="bieudo" ui-sref-active="false" role="tab" aria-controls="pills-bieudo" aria-selected="true">{{bindTextI18n('label_baocaochitiet')}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="clicktabsoluong()" id="pills-baocao-tab" data-toggle="pill" data-target="#pills-baocao" href="baocao" ui-sref-active="false" role="tab" aria-controls="pills-baocao" aria-selected="false">{{bindTextI18n('label_baocaosoluong')}}</a>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-bieudo" role="tabpanel" aria-labelledby="pills-bieudo-tab">
                <div kendo-grid="grid_chitiet" k-data-source="gridData_chitiet" k-options="gridOptions_chitiet" id="grid_chitiet"></div>
            </div>
            <div class="tab-pane fade" id="pills-baocao" role="tabpanel" aria-labelledby="pills-baocao-tab">
                <div kendo-grid="grid_soluong" k-data-source="gridData_soluong" k-options="gridOptions_soluong" id="grid_soluong"></div>
            </div>
        </div>