.table-border-none td {
    border: 0;
}

.table-border-none > tr > .td-width {
    width: 20%;
}

.print-center {
    text-align: center;
}

.print-italic {
    font-style: italic;
}

.print-bold {
    font-weight: bold;
}

.print-title {
    font-size: 24px;
}

.print-body {
    margin-top: 50px;
}

.print-footer {
    margin-top: 50px;
}

    .print-footer > span {
        font-weight: bold;
        padding-right: 3rem;
        padding-left: 2rem;
    }

table {
    margin-top: 50px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}
