<html>
<head>
    <link rel="stylesheet" href="/app/components/donhang/inDonHangStyle.css" media="print" />
</head>
<body>
    <div class="print-wrapper print-patient-summary">
        <div class="print-header">
            <!--<div class="print-italic print-bold">{{objprint.tencongty}}</div>-->
            <!--<h1>
                <img ng-if="visitTabConfig.getPrintConfigForCurrentTab().logo" class="logo" ng-src="{{visitTabConfig.getPrintConfigForCurrentTab().logo}}" alt="logo">
                {{visitTabConfig.getPrintConfigForCurrentTab().title}}
            </h1>-->
        </div>
        <div class="print-body">
            <div class="print-center print-title">CHI TIẾT ĐƠN HÀNG</div>
            <div class="print-center print-italic">{{objprint.maThamChieu}}</div>

            <table class="table table-border-none" cellpadding="2" cellspacing="2" style="width: 100%; border-collapse: collapse">
                <tr>
                    <td style="width: 20%;">Ngày lập:</td>
                    <td>{{objprint.ngayTao}}</td>
                    <td style="width: 20%;">Chương trình KM:</td>
                    <td style="width: 20%;">{{objprint.tenCTKM}}</td>
                </tr>
                <tr>
                    <td style="width: 20%;">Nhân viên lập:</td>
                    <td>{{objprint.tenNhanVien}}</td>
                    <td style="width: 20%;">Chiết khấu (%):</td>
                    <td style="width: 20%;">{{fomartnumberpercent(objprint.chietKhauPhanTramTheoCTKM)}}</td>
                </tr>
                <tr>
                    <td style="width: 20%;">Khách hàng:</td>
                    <td>{{objprint.tenKhachHang}}</td>
                    <td style="width: 20%;">Chiết khấu tiền:</td>
                    <td style="width: 20%;">{{fomartnumber(objprint.chietKhauTienTheoCTKM)}}</td>
                </tr>
                <tr>
                    <td style="width: 20%;">Điện thoại:</td>
                    <td>{{objprint.dienThoai}}</td>
                    <td style="width: 20%;">Chiết khấu khác(%):</td>
                    <td style="width: 20%;">{{fomartnumberpercent(objprint.chietKhauPhanTramKhac)}}</td>
                </tr>
                <tr>
                    <td style="width: 20%;">Trạng thái giao hàng:</td>
                    <td>{{objprint.tenTrangThaiGiaoHang}}</td>
                    <td style="width: 20%;">Chiết khấu tiền khác:</td>
                    <td style="width: 20%;">{{fomartnumber(objprint.chietKhauTienKhac)}}</td>
                </tr>
                <tr>
                    <td style="width: 20%;">Trạng thái thanh toán:</td>
                    <td>{{objprint.tenTrangThaiThanhToan}}</td>
                    <td style="width: 20%;">Tổng tiền chiết khấu:</td>
                    <td style="width: 20%;">{{fomartnumber(objprint.tongTienChietKhau)}}</td>
                </tr>
                <tr>
                    <td style="width: 20%;">Địa chỉ:</td>
                    <td colspan="1" style="width:20%,">
                        {{objprint.diaChi}}
                    </td>
                    <td style="width: 20%;">Tổng tiền đơn hàng:</td>
                    <td style="width: 20%;">{{fomartnumber(objprint.tongTien)}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Đã thanh toán:</td>
                    <td>{{fomartnumber(objprint.tienDaThanhToan)}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Còn lại:</td>
                    <td>{{fomartnumber(objprint.conLai)}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Ghi chú:</td>
                    <td>{{objprint.ghiChu}}</td>
                </tr>
            </table>


            <div class="table mt-lg-5">
                <table cellpadding="7" cellspacing="3">
                    <tr>
                        <th>STT</th>
                        <th>Mã hàng</th>
                        <th>Tên hàng</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <!--<th>Đã giao</th>-->
                        <!--<th>Đơn vị</th>-->
                        <th>Tổng tiền CK</th>
                        <th>Tổng Tiền</th>
                    </tr>
                    <tr ng-repeat="data in list">
                        <td>{{data.$id}}</td>
                        <td>{{data.mahang}}</td>
                        <td>{{data.tenhang}}</td>
                        <td style="text-align:right">{{fomartnumber(data.giaban)}}</td>
                        <td style="text-align:center">{{fomartnumber(data.soluong)}}</td>
                        <!--<td style="text-align:center">{{fomartnumber(data.dagiao)}}</td>-->
                        <!--<td style="text-align:center">{{data.tendonvi}}</td>-->
                        <td style="text-align:right">{{fomartnumber(data.tongtienchietkhau)}}</td>
                        <td style="text-align:right">{{fomartnumber(data.tongtien)}}</td>

                    </tr>

                </table>

            </div>
            <!--<div class="row" id="qrthanhtoan">
                <img style="width: 190px; margin: auto;" ng-src="vietqrurl" src="https://img.vietqr.io/image/970415-104874964131-compact2.png?amount={{objprint.conLai}}&addInfo={{objprint.maThamChieu}}" />
            </div>-->
        </div>
        <div class="print-footer">
            <span>Khách hàng</span>
            <span>Nhân viên giao nhận</span>
            <span>Thủ kho</span>
            <span>Kế toán</span>
        </div>
    </div>
</body>
</html>
