img.rounded-circle.img-thumbnail {
    width: 50px;
    height: 50px;
    max-width: none;
}
#login-radiobtn {
    width: 100%;
}

    #login-radiobtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

.langIcon {
    width: 24px;
}
.group-lang-btn{
    margin:10px;
}