* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: math !important;
    color: #616161;
    background-color: #e5e5e5;
}

header h4 {
    font-size: 1em;
    width: 400px;
    min-width: 300px;
    background-color: #325554;
    color: #fff;
    text-align: center;
    margin: 50px auto 10px auto;
    padding: 8px;
    border-radius: 13px;
}

header p {
    text-align: center;
    margin: 0;
    font-weight: 600;
}

footer {
    background-color: #325554;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.main {
    margin-top: 50px;
    display: flex;
}

    .main .box {
        box-shadow: 0 6px 10px #00000057;
        background-color: #fbfbfb;
        margin-bottom: 15px;
        margin-left: 15px;
        padding: 10px;
        border-radius: 15px;
        position: relative;
        min-height: 100px;
        min-width: 400px;
    }

.title {
    color: #e93374;
    margin: 0 -10px 10px -10px;
    padding: 0 20px;
    font-weight: 600;
    border-bottom: solid 2px #e9e9e9;
}

.content {
    padding: 0 20px;
    font-size: .8em;
    font-weight: 600;
}

.table-list-header {
    font-size: .8em;
    font-weight: 1000;
    font-family: math;
    color: #616161;
}

.table-list-item-end {
    font-size: .8em;
    font-weight: 1000;
    font-family: math;
    color: #616161;
}

footer .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: .8em;
    align-items: center;
}

@media only screen and (max-width: 450px) {
    footer .info {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        font-size: .8em;
        align-items: center;
    }
}

footer .info li {
    list-style-type: none;
}
