@media only screen and (max-width: 600px) and (min-width: 320px) {
    table {
        width: 200%;
        overflow-y: scroll;
    }

    td {
        font-size: 13px;
    }
}

@media only screen and (max-width: 700px)and (min-width: 600px) {
    table {
        width: 100%;
    }

    td {
        font-size: 10px;
    }
}

@media only screen and (min-width: 700px) {
    table {
        width: 100%;
    }

    td {
        font-size: 13px;
    }
}



td {
    vertical-align: top;
    padding-left: 10px;
}

.k-multiselect-wrap {
    height: 50px;
    overflow-x: hidden;
}

.lb-find {
    width: 100%;
    margin-top:5px;
}

.control-find {
    width: 100%;
}
.btn-multiselect-selectall {
    display: block;
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
    border-radius:4px;
    box-shadow: inset 0 0 2px 0 #428bca, inset 0 0 7px 0 #76abd9
}
.pdtop{
    margin: 20px 0px;
}