.map-guitin {
    display: block;
    height: calc(100vh - 5.5rem);
    margin-top: -29px;
}
#treeview {
    height: calc( 100vh - 350px) !important;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    float: left;
    border-color: grey;
    border: 1px solid #d9d9d9 !important;
    line-height: 30px !important;
}
.set-height-right {
    /*height: 1000px;*/
}
.set-height {
    height: calc(100vh - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.controlBlockTimDiaChi {
    position: relative;
    top: 84px;
    left: 8px;
    opacity: .9;
    z-index: 1;
}
/*
 *  SCROLL BAR
 */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background-color: #929090;
}
