.container-fluid {
    width: calc(100% - 40px);
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-group {
    margin-bottom: 3px;
}


.body-donhang__chitiet {
    height: calc(100vh - 8rem);
}

#treehangchon {
    max-height: 250px;
}

.body-thanhtien--thanhtien, .body-thanhtien--khuyenmai, .body-donhang__thongtin {
    height: auto;
}

.body-donhang__thongtin, .body-thanhtien--thanhtien, .body-thanhtien--khuyenmai {
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 1em;
    padding: .5em .5em 0 .5em;
}

.toolbarmenu.groupbtn {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 40px;
}

.body-donhang__thanhtien {
    z-index: 9999;
    background: #fff;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    font-size: 1.125rem;
    font-weight: 500;
    color: blueviolet;
    background-color: white !important;
    border-bottom: blueviolet solid;
}

.toolbarmenu {
    height: 3.5rem;
    padding: 0;
    background: linear-gradient(#EBEBEB, #EBEBEB);
}

    .toolbarmenu .btn {
        font-size: 1.4rem;
        line-height: 2.5rem;
        width: 49%
    }

.product {
    float: left;
    width: 170px;
    height: 120px;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

    .product .product-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product img {
        float: left;
        width: 70px;
        height: 70px;
        border-radius: 5px;
    }

    .product h3 {
        color: #111;
        margin: 0;
        padding: 5px 0 0 5px;
        font-size: .75em;
        overflow: hidden;
        font-weight: normal;
        float: left;
        max-width: 90px;
        text-transform: uppercase;
    }

img.img-avatar {
    width: 5rem;
    height: 5rem;
}

.search-box {
    width: 100%;
}

.table-header-cell.k-header {
    background-color: #17a2b8 !important;
    color: white;
    font-weight: 500;
    font-size: .9rem;
    padding: 0.5rem;
}

.btn-timkiemkhachhang {
    bottom: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    width: 30px;
    text-align: center;
    line-height: 20px;
    height: 20px;
}

.nodata {
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    top: 32px;
    text-align: center;
    padding-top: 50%;
    background: #cfcfcf78;
    margin-left: -15px;
    font-size: 1.5em;
}

.k-multiselect-wrap {
    min-height: 55px;
}

    .k-multiselect-wrap .k-select {
        display: none !important;
    }

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
    border: solid 1px#17a2b8;
}
