
<style>
    button.html5-qrcode-element {
        border: solid 1px #000000;
        border-radius: 5px;
    }
</style>
<script>
    var html5QrcodeScanner = new Html5QrcodeScanner(
        "qrreader", { fps: 10, qrbox: 250 });

    function onScanSuccess(decodedText, decodedResult) {
        // Handle on success condition with the decoded text or result.
        console.log(`Scan result: ${decodedText}`, decodedResult);

        $("#accountCode").val(decodedText);
        angular.element(document.getElementById('accountCode')).scope().checkAccountCode(decodedText);
        $("#btnReScan").show();
        html5QrcodeScanner.clear();
        // ^ this will stop the scanner (video feed) and clear the scan area.
    }

    function onScanError(errorMessage) {
        // handle on error condition, with error message
    }

    function rescan() {
        html5QrcodeScanner.render(onScanSuccess, onScanError);
        $("#btnReScan").hide();
        $("#accountCode").val('');
    }

    rescan();

</script>
<div class="container body-login">
    <div class="row justify-content-center h-100">
        <div class="col-sm-10 card card-background">
            <div class="card-header text-center">
                <!--<img src="../../../images/icon.ico" alt="LSCLOUD" class="logo-login" />-->
                <b>ĐĂNG KÝ FOC HƯỚNG DẪN VIÊN - KDL SINH THÁI TRÀNG AN</b>
            </div>
            <div class="row card-body">
                <div class="col-sm-12">
                    <h5>Thông báo!</h5>
                    <p>Hướng dẫn viên có lịch trình dẫn khách tại khu du lịch vui lòng làm theo hướng dẫn để được sử dụng vè FOC khi dẫn khách thăm quan tại Tràng An:</p>
                    <p>- B1: Quét QR check mã vé</p>
                    <p>- B2: Bấm "Đăng ký vé FOC"</p>
                    <p>Mỗi HDV chỉ được cấp 1 vé FOC cho mỗi đoàn.</p>
                </div>
                <div class="col-sm-12 text-center">
                    <h5>Thông tin đoàn</h5>
                    <div class="form-group d-flex justify-content-center">
                        <input type="text" name="accountCode" id="accountCode" placeholder="Mã vé" class="form-control" style="width:70%" ng-model="accountCode" required />
                        <button style="width:30%" id="btnReScan" onclick="rescan()" class="k-button">Quét lại vé</button>
                    </div>
                    <div class="form-group">
                        <div style="width: 100%" id="qrreader"></div>
                    </div>
                    <div class="form-actions text-center">
                        <button ng-click="register()" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-login">Đăng ký vé FOC</button>
                        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                    <div ng-show="flag" class="alert {{messageClass}} alert-message">{{message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>