<link href="/app/components/trogiup/troGiup.css" rel="stylesheet" />
<body>
    <div class="thongtinphanmem_class pl-5">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center pt-2 font-weight-bold">{{bindTextI18n('header_ksmart-hethongquanlynhanvienkinhdoanh')}}</h5>
            </div>
            <div class="card-phienBan p-5">
                <div class="text-left">
                    <b>{{bindTextI18n('label_phienban')}}:</b><span ng-model="version" id="version"> 1.9.9.5</span> <br />
                    <b>{{bindTextI18n('label_phienbannen')}}:</b><span ng-model="version" id="version"> 1.9.9.5</span> <br />
                    <b>{{bindTextI18n('label_ngayphathanh')}}:</b><span ng-model="version" id="version"> 1.9.9.5</span><br />
                    <b>{{bindTextI18n('label_hovaten')}}:</b> {{bindTextI18n('label_quanly')}}<br />
                    <b>{{bindTextI18n('label_tendonvi')}}:</b> 1<br />
                    <b>{{bindTextI18n('label_macongty')}}:</b> {{bindTextI18n('label_tencongty')}}<br />
                    <b>{{bindTextI18n('label_thoihansudung')}}:</b> 27/03/2021
                </div>


            </div>

        </div>
    </div>
</body>