body {
    background-image: url(/assets/img/thongtinphanmem.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}


.thongtinphanmem_class {
    text-align: center;
    width: 540px;
    display: block;
    padding-top: 86px;
}

.card-phienBan {
    font-size: 15px;
    line-height: 2.7em;
}

.footer-ttPhanMem {
    line-height: 12px;
    padding-top: 11px;
}