USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_QL_PhanQuyenKhachHang_Kendo]    Script Date: 8/24/2018 9:28:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[sp_QL_PhanQuyenKhachHang_Kendo]
@ID_NhanVien int,
@ID_KhachHang int
as
begin 
insert into PhanQuyen(ID_NhanVien,ID_KhachHang,ID_Quyen) values (@ID_NhanVien,@ID_KhachHang,';1;2;3;4;')

END
