USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_QL_BaoCaoDonHangTongQuan_Kendo_Report]    Script Date: 8/24/2018 9:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER proc [dbo].[sp_QL_BaoCaoDonHangTongQuan_Kendo_Report]
@ID_QLLH int,
@ID_QuanLy int,
@from datetime,
@to datetime

as
begin
declare @a table
(
id bigint
)

insert into @a
execute sp_QL_GetDSNhanVienCon @ID_QLLH,@ID_QuanLy
		
Select ROW_NUMBER() OVER (ORDER BY A.CreateDate desc) AS RowNum, A.* from (select
		--ROW_NUMBER() over (order by (select 1)) as RowNum
		CONVERT(date, CreateDate) as CreateDate
		,count(*) as TongSoDon
		,SUM(case when IsProcess=1 then 1 else 0 end) as DaHoanTat
		,SUM(case when IsProcess=0 then 1 else 0 end) as ChuaHoanTat
		,SUM(case when IsProcess=2 then 1 else 0 end) as Huy
		,SUM(case when ID_TrangThaiGiaoHang=4 then 1 else 0 end) as DaGiaoHang
		,SUM(case when ID_TrangThaiGiaoHang=1 then 1 else 0 end) as ChuaGiaoHang
		,SUM(case when ID_TrangThaiGiaoHang=2 then 1 else 0 end) as GiaoHang1Phan
		,SUM(case when ID_TrangThaiThanhToan=4 then 1 else 0 end) as DaThanhToan
		,SUM(case when ID_TrangThaiThanhToan=1 then 1 else 0 end) as ChuaThanhToan
		,SUM(case when ID_TrangThaiThanhToan=2 then 1 else 0 end) as ThanhToan1Phan
		,SUM(TongTien) as TongTien
		,SUM(TienDaThanhToan) as TienDaThanhToan
		,(SUM(TongTien)-SUM(TienDaThanhToan)) as ConLai
		from DonHang join NhanVien on DonHang.ID_NhanVien = NhanVien.ID_NhanVien
		where NhanVien.ID_NhanVien in (select id from @a)
		and CONVERT(VARCHAR(8), CreateDate, 112) >=CONVERT(VARCHAR(8), @from, 112)
		   and CONVERT(VARCHAR(8), CreateDate, 112) <=CONVERT(VARCHAR(8), @to, 112)
		group by CONVERT(date, CreateDate))A
	

end