USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_QL_BaoCaoDonHang_Kendo_Report]    Script Date: 8/24/2018 9:27:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TODO
ALTER proc [dbo].[sp_QL_BaoCaoDonHang_Kendo_Report]
  @ID_QLLH int,
  @ID_NhanVien int,
  @dtFrom datetime,
  @dtTo datetime,
  @ID_QuanLy int
 

 as
 begin
	declare @a table
	(
	id bigint
	)

	insert into @a
	execute sp_QL_GetDSNhanVienCon @ID_QLLH,@ID_QuanLy
Select ROW_NUMBER() OVER (ORDER BY A.ID_NhanVien desc) AS RowNum, A.* from (select dh.ID_NhanVien,TenNhanVien,COUNT(ID_DonHang) as TongDonHang,
			COUNT(case IsProcess when 1 then 1 else null end) as DonThanhCong ,
			sum(TongTien) as TongTien ,
			sum(dh.TongTienChietKhau) as TongTienChietKhau,
			sum(TongTien) + sum(dh.TongTienChietKhau) as TongTienChuaChietKhau,
			SUM( TienDaThanhToan) as DaThanhToan 
	  from DonHang dh join NhanVien on NhanVien.ID_NhanVien = dh.ID_NhanVien
	  where dh.ID_NhanVien=case when @ID_NhanVien=0 then dh.ID_NhanVien else @ID_NhanVien end 
	  and CONVERT(VARCHAR(8), CreateDate, 112) >=CONVERT(VARCHAR(8), @dtFrom, 112)
		   and CONVERT(VARCHAR(8), CreateDate, 112) <=CONVERT(VARCHAR(8), (@dtTo+1), 112)
	--  and CreateDate between @dtFrom and (@dtTo+1)
	  and dh.ID_QLLH= @ID_QLLH
	  and IsProcess!=2  and NhanVien.ID_NhanVien in (select * from @a)
	  group by dh.ID_NhanVien,TenNhanVien) A
	

 end