USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_QL_BaoCaoDonHangTongQuan_Kendo]    Script Date: 8/24/2018 9:27:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER proc [dbo].[sp_QL_BaoCaoDonHangTongQuan_Kendo]
@ID_QLLH int,
@ID_QuanLy int,
@from datetime,
@to datetime,
@startRecord int = 0,
@maxRecords int = 50,
--@CreateDate datetime = getdate,
@TongSoDon int=0,
@DaHoanTat int=0,
@ChuaHoanTat int=0,
@Huy int=0,
@ChuaThanhToan int=0,
@ThanhToan1Phan int=0,
@DaThanhToan int=0,
@ChuaGiaoHang int=0,
@GiaoHang1Phan int=0,
@DaGiaoHang int=0,
@TongTien int=0,
@TienDaThanhToan int=0,
@ConLai int=0

as
begin
declare @a table
(
id bigint
)

insert into @a
execute sp_QL_GetDSNhanVienCon @ID_QLLH,@ID_QuanLy

If(OBJECT_ID('tempdb..#tempBaoCaoDonHangTongQuan') Is Not Null)
Begin
    Drop Table #tempBaoCaoDonHangTongQuan
End

select
		--ROW_NUMBER() over (order by (select 1)) as RowNum
		CONVERT(date, CreateDate) as CreateDate
		,count(*) as TongSoDon
		,SUM(case when IsProcess=1 then 1 else 0 end) as DaHoanTat
		,SUM(case when IsProcess=0 then 1 else 0 end) as ChuaHoanTat
		,SUM(case when IsProcess=2 then 1 else 0 end) as Huy
		,SUM(case when ID_TrangThaiGiaoHang=4 then 1 else 0 end) as DaGiaoHang
		,SUM(case when ID_TrangThaiGiaoHang=1 then 1 else 0 end) as ChuaGiaoHang
		,SUM(case when ID_TrangThaiGiaoHang=2 then 1 else 0 end) as GiaoHang1Phan
		,SUM(case when ID_TrangThaiThanhToan=4 then 1 else 0 end) as DaThanhToan
		,SUM(case when ID_TrangThaiThanhToan=1 then 1 else 0 end) as ChuaThanhToan
		,SUM(case when ID_TrangThaiThanhToan=2 then 1 else 0 end) as ThanhToan1Phan
		,SUM(TongTien) as TongTien
		,SUM(TienDaThanhToan) as TienDaThanhToan
		,(SUM(TongTien)-SUM(TienDaThanhToan)) as ConLai
		into #tempBaoCaoDonHangTongQuan
		from DonHang join NhanVien on DonHang.ID_NhanVien = NhanVien.ID_NhanVien
		where NhanVien.ID_NhanVien in (select id from @a)
		and CONVERT(VARCHAR(8), CreateDate, 112) >=CONVERT(VARCHAR(8), @from, 112)
		   and CONVERT(VARCHAR(8), CreateDate, 112) <=CONVERT(VARCHAR(8), @to, 112)
		group by CONVERT(date, CreateDate)


;WITH Results_CTE as (Select ROW_NUMBER() OVER (ORDER BY A.CreateDate desc) AS RowNum, A.* from #tempBaoCaoDonHangTongQuan A
		where  A.TongSoDon = case when @TongSoDon = 0 then A.TongSoDon else @TongSoDon  end
		and (A.DaHoanTat = case when @DaHoanTat = 0 then A.DaHoanTat else @DaHoanTat  end)
		and (A.ChuaHoanTat = case when @ChuaHoanTat = 0 then A.ChuaHoanTat else @ChuaHoanTat  end)
		and (A.Huy = case when @Huy = 0 then A.Huy else @Huy  end)
		and (A.ChuaThanhToan = case when @ChuaThanhToan = 0 then A.ChuaThanhToan else @ChuaThanhToan  end)
		and (A.ThanhToan1Phan = case when @ThanhToan1Phan = 0 then A.ThanhToan1Phan else @ThanhToan1Phan  end)
		and (A.DaThanhToan = case when @DaThanhToan = 0 then A.DaThanhToan else @DaThanhToan  end)
		and (A.ChuaGiaoHang = case when @ChuaGiaoHang = 0 then A.ChuaGiaoHang else @ChuaGiaoHang  end)
		and (A.GiaoHang1Phan = case when @GiaoHang1Phan = 0 then A.GiaoHang1Phan else @GiaoHang1Phan  end)
		and (A.DaGiaoHang = case when @DaGiaoHang = 0 then A.DaGiaoHang else @DaGiaoHang  end)
		and (A.TongTien = case when @TongTien = 0 then A.TongTien else @TongTien  end)
		and (A.TienDaThanhToan = case when @TienDaThanhToan = 0 then A.TienDaThanhToan else @TienDaThanhToan  end)
		and (A.ConLai = case when @ConLai = 0 then A.ConLai else @ConLai  end)
		)
	
		SELECT * FROM Results_CTE WHERE RowNum >=  @startRecord + 1 AND RowNum <=  @startRecord + @maxRecords
		 order by CreateDate asc

select count(*) soluong from  #tempBaoCaoDonHangTongQuan A
		where  (A.TongSoDon = case when @TongSoDon = 0 then A.TongSoDon else @TongSoDon  end)
		and (A.DaHoanTat = case when @DaHoanTat = 0 then A.DaHoanTat else @DaHoanTat  end)
		and (A.ChuaHoanTat = case when @ChuaHoanTat = 0 then A.ChuaHoanTat else @ChuaHoanTat  end)
		and (A.Huy = case when @Huy = 0 then A.Huy else @Huy  end)
		and (A.ChuaThanhToan = case when @ChuaThanhToan = 0 then A.ChuaThanhToan else @ChuaThanhToan  end)
		and (A.ThanhToan1Phan = case when @ThanhToan1Phan = 0 then A.ThanhToan1Phan else @ThanhToan1Phan  end)
		and (A.DaThanhToan = case when @DaThanhToan = 0 then A.DaThanhToan else @DaThanhToan  end)
		and (A.ChuaGiaoHang = case when @ChuaGiaoHang = 0 then A.ChuaGiaoHang else @ChuaGiaoHang  end)
		and (A.GiaoHang1Phan = case when @GiaoHang1Phan = 0 then A.GiaoHang1Phan else @GiaoHang1Phan  end)
		and (A.DaGiaoHang = case when @DaGiaoHang = 0 then A.DaGiaoHang else @DaGiaoHang  end)
		and (A.TongTien = case when @TongTien = 0 then A.TongTien else @TongTien  end)
		and (A.TienDaThanhToan = case when @TienDaThanhToan = 0 then A.TienDaThanhToan else @TienDaThanhToan  end)
		and (A.ConLai = case when @ConLai = 0 then A.ConLai else @ConLai  end)

select 
sum(TongSoDon) TongSoDon
,sum(DaHoanTat) DaHoanTat
,sum(ChuaHoanTat) ChuaHoanTat
,sum(Huy) Huy
,sum(ChuaThanhToan) ChuaThanhToan
,sum(ThanhToan1Phan) ThanhToan1Phan
,sum(DaThanhToan) DaThanhToan
,sum(ChuaGiaoHang) ChuaGiaoHang
,sum(GiaoHang1Phan) GiaoHang1Phan
,sum(DaGiaoHang) DaGiaoHang
,sum(TongTien) TongTien
,sum(TienDaThanhToan) TienDaThanhToan
,sum(ConLai) ConLai

from  #tempBaoCaoDonHangTongQuan A
		where  (A.TongSoDon = case when @TongSoDon = 0 then A.TongSoDon else @TongSoDon  end)
		and (A.DaHoanTat = case when @DaHoanTat = 0 then A.DaHoanTat else @DaHoanTat  end)
		and (A.ChuaHoanTat = case when @ChuaHoanTat = 0 then A.ChuaHoanTat else @ChuaHoanTat  end)
		and (A.Huy = case when @Huy = 0 then A.Huy else @Huy  end)
		and (A.ChuaThanhToan = case when @ChuaThanhToan = 0 then A.ChuaThanhToan else @ChuaThanhToan  end)
		and (A.ThanhToan1Phan = case when @ThanhToan1Phan = 0 then A.ThanhToan1Phan else @ThanhToan1Phan  end)
		and (A.DaThanhToan = case when @DaThanhToan = 0 then A.DaThanhToan else @DaThanhToan  end)
		and (A.ChuaGiaoHang = case when @ChuaGiaoHang = 0 then A.ChuaGiaoHang else @ChuaGiaoHang  end)
		and (A.GiaoHang1Phan = case when @GiaoHang1Phan = 0 then A.GiaoHang1Phan else @GiaoHang1Phan  end)
		and (A.DaGiaoHang = case when @DaGiaoHang = 0 then A.DaGiaoHang else @DaGiaoHang  end)
		and (A.TongTien = case when @TongTien = 0 then A.TongTien else @TongTien  end)
		and (A.TienDaThanhToan = case when @TienDaThanhToan = 0 then A.TienDaThanhToan else @TienDaThanhToan  end)
		and (A.ConLai = case when @ConLai = 0 then A.ConLai else @ConLai  end)
 
end