USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_QL_BaoCaoDonHang_Kendo]    Script Date: 8/24/2018 9:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TODO
ALTER proc [dbo].[sp_QL_BaoCaoDonHang_Kendo]
  @ID_QLLH int,
  @ID_NhanVien int,
  @dtFrom datetime,
  @dtTo datetime,
  @ID_QuanLy int,
  @startRecord int = 0,
  @maxRecords int = 50,
  @TenNhanVien nvarchar(50)='',
  @TongDonHang int =0,
  @DonThanhCong int =0,
  @TongTienChuaChietKhau int =0,
  @TongTienChietKhau int =0,
  @TongTien int =0,
  @DaThanhToan int =0

 as
 begin
	declare @a table
	(
	id bigint
	)

	insert into @a
	execute sp_QL_GetDSNhanVienCon @ID_QLLH,@ID_QuanLy

If(OBJECT_ID('tempdb..#tempBaoCaoDonHang') Is Not Null)
Begin
Drop Table #tempBaoCaoDonHang
End

select dh.ID_NhanVien,TenNhanVien,COUNT(ID_DonHang) as TongDonHang,
			COUNT(case IsProcess when 1 then 1 else null end) as DonThanhCong ,
			sum(TongTien) as TongTien ,
			sum(dh.TongTienChietKhau) as TongTienChietKhau,
			sum(TongTien) + sum(dh.TongTienChietKhau) as TongTienChuaChietKhau,
			SUM( TienDaThanhToan) as DaThanhToan 
			into #tempBaoCaoDonHang
	  from DonHang dh join NhanVien on NhanVien.ID_NhanVien = dh.ID_NhanVien
	  where dh.ID_NhanVien=case when @ID_NhanVien=0 then dh.ID_NhanVien else @ID_NhanVien end 
	  and CONVERT(VARCHAR(8), CreateDate, 112) >=CONVERT(VARCHAR(8), @dtFrom, 112)
		   and CONVERT(VARCHAR(8), CreateDate, 112) <=CONVERT(VARCHAR(8), (@dtTo+1), 112)
	--  and CreateDate between @dtFrom and (@dtTo+1)
	  and dh.ID_QLLH= @ID_QLLH
	  and IsProcess!=2  and NhanVien.ID_NhanVien in (select * from @a)
	  group by dh.ID_NhanVien,TenNhanVien


	;WITH Results_CTE as 
	(Select ROW_NUMBER() OVER (ORDER BY A.ID_NhanVien desc) AS RowNum, A.* from #tempBaoCaoDonHang A
	 where  A.TenNhanVien = case when @TenNhanVien = '' then A.TenNhanVien else @TenNhanVien  end
	and ( A.TongDonHang= case when @TongDonHang = '' then A.TongDonHang else @TongDonHang end)
	and ( A.DonThanhCong= case when @DonThanhCong = 0 then A.DonThanhCong else @DonThanhCong end)
	and ( A.TongTienChuaChietKhau= case when @TongTienChuaChietKhau = 0 then A.TongTienChuaChietKhau else @TongTienChuaChietKhau end)
	and ( A.TongTienChietKhau= case when @TongTienChietKhau = 0 then A.TongTienChietKhau else @TongTienChietKhau end)
	and ( A.TongTien= case when @TongTien = 0 then A.TongTien else @TongTien end)
	and ( A.DaThanhToan= case when @DaThanhToan = 0 then A.DaThanhToan else @DaThanhToan end))

   SELECT * FROM Results_CTE WHERE RowNum >=  @startRecord + 1 AND RowNum <=  @startRecord + @maxRecords
		
	select COUNT(*)  soluong from #tempBaoCaoDonHang A
	 where  A.TenNhanVien = case when @TenNhanVien = '' then A.TenNhanVien else @TenNhanVien  end
	and ( A.TongDonHang= case when @TongDonHang = '' then A.TongDonHang else @TongDonHang end)
	and ( A.DonThanhCong= case when @DonThanhCong = 0 then A.DonThanhCong else @DonThanhCong end)
	and ( A.TongTienChuaChietKhau= case when @TongTienChuaChietKhau = 0 then A.TongTienChuaChietKhau else @TongTienChuaChietKhau end)
	and ( A.TongTienChietKhau= case when @TongTienChietKhau = 0 then A.TongTienChietKhau else @TongTienChietKhau end)
	and ( A.TongTien= case when @TongTien = 0 then A.TongTien else @TongTien end)
	and ( A.DaThanhToan= case when @DaThanhToan = 0 then A.DaThanhToan else @DaThanhToan end) 

	select 
	sum(TongDonHang) TongDonHang 
	,sum(DonThanhCong) DonThanhCong
	,sum(TongTienChuaChietKhau) TongTienChuaChietKhau
	,sum(TongTienChietKhau) TongTienChietKhau
	,sum(TongTien) TongTien
	,sum(DaThanhToan) DaThanhToan
	from #tempBaoCaoDonHang A
	 where  A.TenNhanVien = case when @TenNhanVien = '' then A.TenNhanVien else @TenNhanVien  end
	and ( A.TongDonHang= case when @TongDonHang = '' then A.TongDonHang else @TongDonHang end)
	and ( A.DonThanhCong= case when @DonThanhCong = 0 then A.DonThanhCong else @DonThanhCong end)
	and ( A.TongTienChuaChietKhau= case when @TongTienChuaChietKhau = 0 then A.TongTienChuaChietKhau else @TongTienChuaChietKhau end)
	and ( A.TongTienChietKhau= case when @TongTienChietKhau = 0 then A.TongTienChietKhau else @TongTienChietKhau end)
	and ( A.TongTien= case when @TongTien = 0 then A.TongTien else @TongTien end)
	and ( A.DaThanhToan= case when @DaThanhToan = 0 then A.DaThanhToan else @DaThanhToan end) 

 end