USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_web_BaoCaoDoanhThu_KenDo]    Script Date: 8/24/2018 9:29:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[sp_web_BaoCaoDoanhThu_KenDo] 
@ID_QLLH int,
@ID_NhanVien int,
@ID_KhachHang int,
@dtFrom datetime,
@dtTo datetime,
@ID_QuanLy int,
@startRecord int = 0,
@maxRecords int = 50,
--@CreateDate datetime ='',
@SoDonHang int =0,
@DaHoanTat int =0,
@ChuaHoanTat int =0, 
@SLHuy int =0,
@TongTienChuaChietKhau int =0,
@TongTienChietKhau int =0,
@TongTien int =0,
@TienDaThanhToan int =0
as
declare @a table
(
id bigint
)
BEGIN
insert into @a
execute sp_QL_GetDSNhanVienCon @ID_QLLH,@ID_QuanLy

If(OBJECT_ID('tempdb..#tempbcDoanhThu') Is Not Null)
Begin
    Drop Table #tempbcDoanhThu
End

	   select 
	   COUNT(a.ID_DonHang) as SoDonHang,
       SUM(a.TongTien) as TongTien,
       SUM(TongTienChuaChietKhau) as TongTienChuaChietKhau,
       SUM(isnull(TongTienChietKhau, 0)) as TongTienChietKhau,
       SUM(a.TienDaThanhToan) as TienDaThanhToan,
       SUM(a.DaHoanTat) as DaHoanTat,
       SUM(a.ChuaHoanTat) as ChuaHoanTat,
       SUM(a.SLHuy) as SLHuy,
       a.CreateDate
	   into #tempbcDoanhThu
  from (select case
                 when IsProcess = 2 then
                  0
                 else
                  TongTien
               end as TongTien,
               DonHang.TongTienChietKhau,
               
               (DonHang.TongTienChietKhau + DonHang.TongTien) as TongTienChuaChietKhau,
               DonHang.ID_DonHang,
               Convert(date, DonHang.CreateDate) as CreateDate,
               case
                 when IsProcess = 2 then
                  0
                 else
                  TienDaThanhToan
               end as TienDaThanhToan,
               (case
                 when IsProcess = 1 then
                  1
                 else
                  0
               end) as DaHoanTat,
               (case
                 when IsProcess = 0 then
                  1
                 else
                  0
               end) as ChuaHoanTat,
               (case
                 when IsProcess = 2 then
                  1
                 else
                  0
               end) as SLHuy
          from DonHang
          left join KhachHang
            on DonHang.ID_KhachHang = KhachHang.ID_KhachHang
          left join NhanVien
            on DonHang.ID_NhanVien = NhanVien.ID_NhanVien
          left join ChiTietDonHang
            on DonHang.ID_DonHang = ChiTietDonHang.ID_DonHang
         where DonHang.ID_QLLH = @ID_QLLH
           and DonHang.ID_NhanVien = case
                 when @ID_NhanVien = 0 then
                  DonHang.ID_NhanVien
                 else
                  @ID_NhanVien
               end
           and DonHang.ID_KhachHang = case
                 when @ID_KhachHang = 0 then
                  DonHang.ID_KhachHang
                 else
                  @ID_KhachHang
               end
           and 
		   CONVERT(VARCHAR(8), CreateDate, 112) >=CONVERT(VARCHAR(8), @dtFrom, 112)
		   and CONVERT(VARCHAR(8), CreateDate, 112) <=CONVERT(VARCHAR(8), @dtTo, 112)
		   
		  -- CreateDate between @dtFrom and @dtTo
           and NhanVien.ID_NhanVien in (select * from @a)
         group by Convert(date, DonHang.CreateDate),
                  TongTien,
                  DonHang.ID_DonHang,
                  TienDaThanhToan,
                  IsProcess,
                  DonHang.TongTienChietKhau) as a
 group by a.CreateDate



 ;WITH Results_CTE as (Select ROW_NUMBER() OVER (ORDER BY A.CreateDate desc) AS RowNum, A.* from #tempbcDoanhThu A
 WHERE 
   A.DaHoanTat = case when @DaHoanTat = 0 then A.DaHoanTat else @DaHoanTat  end
  and A.ChuaHoanTat = case when @ChuaHoanTat = 0 then A.ChuaHoanTat else @ChuaHoanTat  end
  and A.SLHuy = case when @SLHuy = 0 then A.SLHuy else @SLHuy  end
  and A.SoDonHang = case when @SoDonHang = 0 then A.SoDonHang else @SoDonHang  end
  and A.TienDaThanhToan = case when @TienDaThanhToan = 0 then A.TienDaThanhToan else @TienDaThanhToan end
  and A.TongTien = case when @TongTien = 0 then A.TongTien else @TongTien  end
  and A.TongTienChietKhau = case when @TongTienChietKhau = 0 then A.TongTienChietKhau else @TongTienChietKhau  end
  and A.TongTienChuaChietKhau = case when @TongTienChuaChietKhau = 0 then A.TongTienChuaChietKhau else @TongTienChuaChietKhau  end)

SELECT * FROM Results_CTE WHERE RowNum >=  @startRecord + 1 AND RowNum <=  @startRecord + @maxRecords
		 order by CreateDate asc

select Count(*)soluong from #tempbcDoanhThu A
 WHERE 
   A.DaHoanTat = case when @DaHoanTat = 0 then A.DaHoanTat else @DaHoanTat  end
  and A.ChuaHoanTat = case when @ChuaHoanTat = 0 then A.ChuaHoanTat else @ChuaHoanTat  end
  and A.SLHuy = case when @SLHuy = 0 then A.SLHuy else @SLHuy  end
  and A.SoDonHang = case when @SoDonHang = 0 then A.SoDonHang else @SoDonHang  end
  and A.TienDaThanhToan = case when @TienDaThanhToan = 0 then A.TienDaThanhToan else @TienDaThanhToan end
  and A.TongTien = case when @TongTien = 0 then A.TongTien else @TongTien  end
  and A.TongTienChietKhau = case when @TongTienChietKhau = 0 then A.TongTienChietKhau else @TongTienChietKhau  end
  and A.TongTienChuaChietKhau = case when @TongTienChuaChietKhau = 0 then A.TongTienChuaChietKhau else @TongTienChuaChietKhau  end

select 
	sum(DaHoanTat) DaHoanTat
	,sum(ChuaHoanTat) ChuaHoanTat
	,sum(SLHuy) SLHuy
	,sum(SoDonHang) SoDonHang
	,sum(TienDaThanhToan) TienDaThanhToan
	,sum(TongTien) TongTien
	,sum(TongTienChietKhau) TongTienChietKhau
	,sum(TongTienChuaChietKhau) TongTienChuaChietKhau
from #tempbcDoanhThu A
WHERE 
   A.DaHoanTat = case when @DaHoanTat = 0 then A.DaHoanTat else @DaHoanTat  end
  and A.ChuaHoanTat = case when @ChuaHoanTat = 0 then A.ChuaHoanTat else @ChuaHoanTat  end
  and A.SLHuy = case when @SLHuy = 0 then A.SLHuy else @SLHuy  end
  and A.SoDonHang = case when @SoDonHang = 0 then A.SoDonHang else @SoDonHang  end
  and A.TienDaThanhToan = case when @TienDaThanhToan = 0 then A.TienDaThanhToan else @TienDaThanhToan end
  and A.TongTien = case when @TongTien = 0 then A.TongTien else @TongTien  end
  and A.TongTienChietKhau = case when @TongTienChietKhau = 0 then A.TongTienChietKhau else @TongTienChietKhau  end
  and A.TongTienChuaChietKhau = case when @TongTienChuaChietKhau = 0 then A.TongTienChuaChietKhau else @TongTienChuaChietKhau  end

end