USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_web_BaoCaoDoanhThu_KenDo_Report]    Script Date: 8/24/2018 9:29:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[sp_web_BaoCaoDoanhThu_KenDo_Report] 
@ID_QLLH int,
@ID_NhanVien int,
@ID_KhachHang int,
@dtFrom datetime,
@dtTo datetime,
@ID_QuanLy int

as
declare @a table
(
id bigint
)
BEGIN
insert into @a
execute sp_QL_GetDSNhanVienCon @ID_QLLH,@ID_QuanLy

Select ROW_NUMBER() OVER (ORDER BY A.CreateDate desc) AS RowNum, A.* from (
	   select 
	   COUNT(a.ID_DonHang) as SoDonHang,
       SUM(a.TongTien) as TongTien,
       SUM(TongTienChuaChietKhau) as TongTienChuaChietKhau,
       SUM(isnull(TongTienChietKhau, 0)) as TongTienChietKhau,
       SUM(a.TienDaThanhToan) as TienDaThanhToan,
       SUM(a.DaHoanTat) as DaHoanTat,
       SUM(a.ChuaHoanTat) as ChuaHoanTat,
       SUM(a.SLHuy) as SLHuy,
       a.CreateDate
  from (select case
                 when IsProcess = 2 then
                  0
                 else
                  TongTien
               end as TongTien,
               DonHang.TongTienChietKhau,
               
               (DonHang.TongTienChietKhau + DonHang.TongTien) as TongTienChuaChietKhau,
               DonHang.ID_DonHang,
               Convert(date, DonHang.CreateDate) as CreateDate,
               case
                 when IsProcess = 2 then
                  0
                 else
                  TienDaThanhToan
               end as TienDaThanhToan,
               (case
                 when IsProcess = 1 then
                  1
                 else
                  0
               end) as DaHoanTat,
               (case
                 when IsProcess = 0 then
                  1
                 else
                  0
               end) as ChuaHoanTat,
               (case
                 when IsProcess = 2 then
                  1
                 else
                  0
               end) as SLHuy
          from DonHang
          left join KhachHang
            on DonHang.ID_KhachHang = KhachHang.ID_KhachHang
          left join NhanVien
            on DonHang.ID_NhanVien = NhanVien.ID_NhanVien
          left join ChiTietDonHang
            on DonHang.ID_DonHang = ChiTietDonHang.ID_DonHang
         where DonHang.ID_QLLH = @ID_QLLH
           and DonHang.ID_NhanVien = case
                 when @ID_NhanVien = 0 then
                  DonHang.ID_NhanVien
                 else
                  @ID_NhanVien
               end
           and DonHang.ID_KhachHang = case
                 when @ID_KhachHang = 0 then
                  DonHang.ID_KhachHang
                 else
                  @ID_KhachHang
               end
           and 
		   CONVERT(VARCHAR(8), CreateDate, 112) >=CONVERT(VARCHAR(8), @dtFrom, 112)
		   and CONVERT(VARCHAR(8), CreateDate, 112) <=CONVERT(VARCHAR(8), @dtTo, 112)
		   
		  -- CreateDate between @dtFrom and @dtTo
           and NhanVien.ID_NhanVien in (select * from @a)
         group by Convert(date, DonHang.CreateDate),
                  TongTien,
                  DonHang.ID_DonHang,
                  TienDaThanhToan,
                  IsProcess,
                  DonHang.TongTienChietKhau) as a
 group by a.CreateDate) A
end