USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_QL_DeleteAllKhachHangTheoNhanVien_Kendo]    Script Date: 8/24/2018 9:28:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[sp_QL_DeleteAllKhachHangTheoNhanVien_Kendo]
  @ID_NhanVien int
  as
 begin
	delete PhanQuyen  where ID_NhanVien=@ID_NhanVien
 end

