USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_QL_GetDSNhanVien_Kendo]    Script Date: 8/24/2018 9:28:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[sp_QL_GetDSNhanVien_Kendo]
@ID_QLLH int,
@ID_QuanLy int
as
declare @a table
(
id bigint
)

insert into @a
execute sp_QL_GetDSNhanVienCon @ID_QLLH,@ID_QuanLy
	
select a.* from (select nv.ID_NhanVien, nv.TenNhanVien from NhanVien NV
left join TaiKhoan TK on NV.ID_QuanLy = TK.idtaikhoan
left join tblGPSDinhKy  GPS on NV.ID_NhanVien = GPS.ID_NhanVien
where
  NV.ID_QLLH = @ID_QLLH
  AND
(@ID_QuanLy = 0 OR 
 NV.ID_NhanVien in (select id from @a)
 
 ) 
--order by nv.TenNhanVien asc
union
select 
-1 as ID_NhanVien,
'' TenNhanVien
from NhanVien ) a
order by a.TenNhanVien

