USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_QL_getDSKhachHangTheoIDQL_ComBo_Kendo]    Script Date: 8/24/2018 9:28:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
ALTER PROCEDURE [dbo].[sp_QL_getDSKhachHangTheoIDQL_ComBo_Kendo]
	@id_qllh int,
	@ID_QuanLy int 
AS
BEGIN
declare @a table
(
id bigint
)
declare @level int = (select level from TaiKhoan where idtaikhoan=@ID_QuanLy)
if @level=1
	begin 
	select 
     ID_KhachHang,
     TenKhachHang
	 from KhachHang  
	where KhachHang.ID_QLLH = @id_qllh and KhachHang.TrangThai!=1 and KhachHang.TrangThai!=3 and KhachHang.TrangThaiXoa !=1
	union 
	select -1 as ID_KhachHang, '' TenKhachHang from KhachHang
	order by TenKhachHang asc 
	end
	else 
	begin
	insert into @a
	execute sp_QL_GetDSNhanVienCon @id_qllh,@ID_QuanLy
	select  
      ID_KhachHang,
     TenKhachHang
      	 from KhachHang  	 
	where KhachHang.ID_QLLH = @id_qllh and KhachHang.TrangThai!=1 and KhachHang.TrangThai!=3 and KhachHang.TrangThaiXoa !=1 
	and 
	(KhachHang.ID_KhachHang IN (	select ID_KhachHang FROM PhanQuyen where PhanQuyen.ID_NhanVien IN  (select * from @a)  GROUP BY PhanQuyen.ID_KhachHang )
	 OR
	 KhachHang.ID_QuanLy = @ID_QuanLy
	)
	 union 
	select -1 as ID_KhachHang, '' TenKhachHang from KhachHang
	
	order by TenKhachHang asc
	end
END