USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_QL_getDSKhachHangTheoIDQLKENDO]    Script Date: 8/24/2018 9:28:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_QL_getDSKhachHangTheoIDQLKENDO]
  @id_qllh int,
  @ID_QuanLy int,
  --@ID_Tinh int = 0,
  --@ID_Quan int = 0,
  --@ID_Phuong int = 0,
  --@ID_LoaiKhachHang int = -1,
  --@ID_KenhBanHang int = 0,
  @startRecord int = 0,
  @maxRecords int = 20,
  @TenKhachHang nvarchar(500) ='',
  @MaKH nvarchar(50) ='',
  @DiaChi nvarchar(500) ='',
  @TenTinh nvarchar(500) ='',
  @TenQuan nvarchar(500) ='',
  @TenPhuong nvarchar(500) ='',
  @DienThoai nvarchar(500) ='',
  @Email nvarchar(500) ='',
  @TenNhanVien nvarchar(500) ='',
  @TenLoaiKhachHang nvarchar(50) ='',
  @TenNhomKH nvarchar(50)='',
  @MaSoThue nvarchar(50)='',
  @NguoiLienHe NVARCHAR(50)='',
  @GhiChu NVARCHAR(50) =''
 -- @NgayTao datetime
AS
BEGIN
declare @a table
(
id bigint
)
declare @level int = (select level from TaiKhoan where idtaikhoan=@ID_QuanLy)
if @level=1
  BEGIN
  ;WITH Results_CTE AS
(select ROW_NUMBER() OVER (ORDER BY K.ID_KhachHang desc) AS RowNum,
  (select top 1 path  from KhachHang_Images where idkhachhang = K.ID_KhachHang order by imageid desc) as AnhDaiDien,
      K.ID_QLLH,
	  NV.ID_NhanVien,
	  NV.TenNhanVien,
      K.ID_KhachHang,
	  K.MaKH,
	  K.TenKhachHang,
	  K.DiaChi,
      K.KinhDo,
      K.ViDo,
	  K.DuongPho,
	  KV.TenKhuVuc,
	  KV.ID_KhuVuc,
	  TI.TenTinh,
	  TI.ID_Tinh,
	  QH.TenQuan,
	  QH.ID_Quan,
	  XP.TenPhuong,
	  XP.ID_Phuong,
	  K.DienThoaiMacDinh,
	  K.DienThoai,
	  K.DienThoai2,
	  K.DienThoai3,
	  K.Fax,
	  LKH.TenLoaiKhachHang,
	  LKH.ID_LoaiKhachHang,
	  NKH.ID_NhomKH,
	  NKH.TenNhomKH,
	  K.NguoiLienHe,
	  K.Email,
	  K.Website,
	  K.DiaChiXuatHoaDon,
	  K.SoTKNganHang,
	  K.MaSoThue,
	  K.GhiChu,
      K.TrangThaiXoa,
      K.NgayXoa,
      K.ID_QuanLyXoa,
      K.ID_QuanLy,
       (LTRIM(RTRIM(STR(K.KinhDo, 38, 13))) + ', ' +
       LTRIM(RTRIM(STR(K.ViDo, 38, 13)))) as 'ToaDoKhachHang',
	  K.insertedtime,
	  K1.ID_KhachHang as ID_KBHCT,
	  K1.TenKhachHang as Ten_kenhBHCapTren
  from KhachHang K
  left join KhuVuc KV
  on k.ID_KhuVuc = KV.ID_KhuVuc
  left join NhanVien NV
    on K.ID_NhanVien = NV.ID_NhanVien
  left join TinhThanh TI
    on K.ID_Tinh = TI.ID_Tinh
  left join QuanHuyen QH
    on K.ID_Quan = QH.ID_Quan
  left join PhuongXa XP
    on K.ID_Phuong = XP.ID_Phuong
  left join LoaiKhachHang LKH
    on K.ID_LoaiKhachHang = LKH.ID_LoaiKhachHang
  left join NhomKhachHang NKH
    on K.ID_NhomKH = NKH.ID_NhomKH 
 left join KhachHang k1
on ISNULL( K.ID_Cha,0) = K1.ID_KhachHang
 where K.ID_QLLH = @id_qllh
   and K.TrangThai != 1
   and K.TrangThai != 3
   and K.TrangThaiXoa != 1
   --and (@ID_Tinh = 0 OR K.ID_Tinh = @ID_Tinh)
   --and (@ID_Quan = 0 OR K.ID_Quan = @ID_Quan)
   --and (@ID_Phuong = 0 OR K.ID_Phuong = @ID_Phuong)
   --and (@ID_LoaiKhachHang = -1 OR K.ID_LoaiKhachHang = @ID_LoaiKhachHang)
   --and (@ID_KenhBanHang = 0 OR K.ID_NhomKH = @ID_KenhBanHang)
   and (@DiaChi ='' or upper(k.DiaChi) LIKE N'%'+upper(@DiaChi)+'%' collate SQL_Latin1_General_CP1_CI_AI )
     and (@TenKhachHang ='' or upper(k.TenKhachHang) LIKE N'%'+upper(@TenKhachHang )+'%' collate SQL_Latin1_General_CP1_CI_AI )
	   and (@MaKH ='' or upper(k.MaKH) LIKE N'%'+upper(@MaKH )+'%' collate SQL_Latin1_General_CP1_CI_AI )
	     and (@TenTinh ='' or upper(TI.TenTinh) LIKE N'%'+upper(@TenTinh)+'%' collate SQL_Latin1_General_CP1_CI_AI )
		   and (@TenQuan ='' or upper(QH.TenQuan) LIKE N'%'+upper(@TenQuan)+'%' collate SQL_Latin1_General_CP1_CI_AI )
		     and (@TenPhuong ='' or upper(XP.TenPhuong) LIKE N'%'+upper(@TenPhuong)+'%' collate SQL_Latin1_General_CP1_CI_AI )
			   and (@DienThoai ='' or upper(k.DienThoai) LIKE N'%'+upper(@DienThoai)+'%' collate SQL_Latin1_General_CP1_CI_AI )
			     and ( @Email ='' or upper(k.Email) LIKE N'%'+upper(@Email)+'%' collate SQL_Latin1_General_CP1_CI_AI )
				   and (@TenNhanVien ='' or upper(NV.TenNhanVien) LIKE N'%'+upper(@TenNhanVien)+'%' collate SQL_Latin1_General_CP1_CI_AI )
				     and (@TenLoaiKhachHang ='' or upper(LKH.TenLoaiKhachHang) LIKE N'%'+upper(@TenLoaiKhachHang)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@TenNhomKH ='' or upper(NKH.TenNhomKH) LIKE N'%'+upper(@TenNhomKH)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@MaSoThue  ='' or upper(k.MaSoThue) LIKE N'%'+upper(@MaSoThue)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@NguoiLienHe  ='' or upper(k.NguoiLienHe) LIKE N'%'+upper(@NguoiLienHe)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@GhiChu   ='' or upper(k.GhiChu) LIKE N'%'+upper(  @GhiChu)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					--and (@Ngaytao ='' or CONVERT(VARCHAR(8),k.insertedtime, 112) =  CONVERT(VARCHAR(8), @Ngaytao, 112) )
   )
	SELECT *
	FROM Results_CTE
	WHERE 
	RowNum >=  @startRecord + 1 AND RowNum <=  @startRecord + @maxRecords
 order by TenKhachHang asc

 select count(K.ID_KhachHang) soluong
  from KhachHang K
  left join KhuVuc KV
  on k.ID_KhuVuc = KV.ID_KhuVuc
  left join NhanVien NV
    on K.ID_NhanVien = NV.ID_NhanVien
  left join TinhThanh TI
    on K.ID_Tinh = TI.ID_Tinh
  left join QuanHuyen QH
    on K.ID_Quan = QH.ID_Quan
  left join PhuongXa XP
    on K.ID_Phuong = XP.ID_Phuong
  left join LoaiKhachHang LKH
    on K.ID_LoaiKhachHang = LKH.ID_LoaiKhachHang
  left join NhomKhachHang NKH
    on K.ID_NhomKH = NKH.ID_NhomKH
	left join KhachHang k1
 on ISNULL( K.ID_Cha,0) = K1.ID_KhachHang
 where K.ID_QLLH = @id_qllh
   and K.TrangThai != 1
   and K.TrangThai != 3
   and K.TrangThaiXoa != 1
   --and (@ID_Tinh = 0 OR K.ID_Tinh = @ID_Tinh)
   --and (@ID_Quan = 0 OR K.ID_Quan = @ID_Quan)
   --and (@ID_Phuong = 0 OR K.ID_Phuong = @ID_Phuong)
   --and (@ID_LoaiKhachHang = -1 OR K.ID_LoaiKhachHang = @ID_LoaiKhachHang)
   --and (@ID_KenhBanHang = 0 OR K.ID_NhomKH = @ID_KenhBanHang)
   and (@DiaChi ='' or upper(k.DiaChi) LIKE N'%'+upper(@DiaChi)+'%' collate SQL_Latin1_General_CP1_CI_AI )
     and (@TenKhachHang ='' or upper(k.TenKhachHang) LIKE N'%'+upper(@TenKhachHang )+'%' collate SQL_Latin1_General_CP1_CI_AI )
	   and (@MaKH ='' or upper(k.MaKH) LIKE N'%'+upper(@MaKH )+'%' collate SQL_Latin1_General_CP1_CI_AI )
	     and (@TenTinh ='' or upper(TI.TenTinh) LIKE N'%'+upper(@TenTinh)+'%' collate SQL_Latin1_General_CP1_CI_AI )
		   and (@TenQuan ='' or upper(QH.TenQuan) LIKE N'%'+upper(@TenQuan)+'%' collate SQL_Latin1_General_CP1_CI_AI )
		     and (@TenPhuong ='' or upper(XP.TenPhuong) LIKE N'%'+upper(@TenPhuong)+'%' collate SQL_Latin1_General_CP1_CI_AI )
			   and (@DienThoai ='' or upper(k.DienThoai) LIKE N'%'+upper(@DienThoai)+'%' collate SQL_Latin1_General_CP1_CI_AI )
			     and ( @Email ='' or upper(k.Email) LIKE N'%'+upper(@Email)+'%' collate SQL_Latin1_General_CP1_CI_AI )
				   and (@TenNhanVien ='' or upper(NV.TenNhanVien) LIKE N'%'+upper(@TenNhanVien)+'%' collate SQL_Latin1_General_CP1_CI_AI )
				     and (@TenLoaiKhachHang ='' or upper(LKH.TenLoaiKhachHang) LIKE N'%'+upper(@TenLoaiKhachHang)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@TenNhomKH ='' or upper(NKH.TenNhomKH) LIKE N'%'+upper(@TenNhomKH)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@MaSoThue  ='' or upper(k.MaSoThue) LIKE N'%'+upper(@MaSoThue)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@NguoiLienHe  ='' or upper(k.NguoiLienHe) LIKE N'%'+upper(@NguoiLienHe)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@GhiChu   ='' or upper(k.GhiChu) LIKE N'%'+upper(  @GhiChu)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					--and (@Ngaytao ='' or CONVERT(VARCHAR(8),k.insertedtime, 112) =  CONVERT(VARCHAR(8), @Ngaytao, 112) )
  end
  else 
  begin
  insert into @a
  execute sp_QL_GetDSNhanVienCon @id_qllh,@ID_QuanLy
 ;WITH Results_CTE AS
(select ROW_NUMBER() OVER (ORDER BY K.ID_KhachHang desc) AS RowNum,
  (select top 1 path  from KhachHang_Images where idkhachhang = K.ID_KhachHang order by imageid desc) as AnhDaiDien,
      K.ID_QLLH,
	  NV.ID_NhanVien,
	  NV.TenNhanVien,
      K.ID_KhachHang,
	  K.MaKH,
	  K.TenKhachHang,
	  K.DiaChi,
      K.KinhDo,
      K.ViDo,
	  K.DuongPho,
	  KV.TenKhuVuc,
	  KV.ID_KhuVuc,
	  TI.TenTinh,
	  TI.ID_Tinh,
	  QH.TenQuan,
	  QH.ID_Quan,
	  XP.TenPhuong,
	  XP.ID_Phuong,
	  K.DienThoaiMacDinh,
	  K.DienThoai,
	  K.DienThoai2,
	  K.DienThoai3,
	  K.Fax,
	  LKH.TenLoaiKhachHang,
	  LKH.ID_LoaiKhachHang,
	  NKH.ID_NhomKH,
	  NKH.TenNhomKH,
	  K.NguoiLienHe,
	  K.Email,
	  K.Website,
	  K.DiaChiXuatHoaDon,
	  K.SoTKNganHang,
	  K.MaSoThue,
	  K.GhiChu,
      K.TrangThaiXoa,
      K.NgayXoa,
      K.ID_QuanLyXoa,
      K.ID_QuanLy,
       (LTRIM(RTRIM(STR(K.KinhDo, 38, 13))) + ', ' +
       LTRIM(RTRIM(STR(K.ViDo, 38, 13)))) as 'ToaDoKhachHang',
	   K.insertedtime,
	   K1.ID_KhachHang as ID_KBHCT,
	  K1.TenKhachHang as Ten_kenhBHCapTren
  from KhachHang K
  left join KhuVuc KV
  on k.ID_KhuVuc = KV.ID_KhuVuc
  left join NhanVien NV
    on K.ID_NhanVien = NV.ID_NhanVien
  left join TinhThanh TI
    on K.ID_Tinh = TI.ID_Tinh
  left join QuanHuyen QH
    on K.ID_Quan = QH.ID_Quan
  left join PhuongXa XP
    on K.ID_Phuong = XP.ID_Phuong
  left join LoaiKhachHang LKH
    on K.ID_LoaiKhachHang = LKH.ID_LoaiKhachHang
  left join NhomKhachHang NKH
    on K.ID_NhomKH = NKH.ID_NhomKH
	left join KhachHang k1
 on ISNULL( K.ID_Cha,0) = K1.ID_KhachHang
 where K.ID_QLLH = @id_qllh
   and K.TrangThai != 1
   and K.TrangThai != 3
   and K.TrangThaiXoa != 1
   and (K.ID_KhachHang IN
       (select ID_KhachHang
           FROM PhanQuyen
          where PhanQuyen.ID_NhanVien IN (select * from @a)
          GROUP BY PhanQuyen.ID_KhachHang)
       OR K.ID_QuanLy = @ID_QuanLy)
   --AND (@ID_Tinh = 0 OR K.ID_Tinh = @ID_Tinh)
   --AND (@ID_Quan = 0 OR K.ID_Quan = @ID_Quan)
   --AND (@ID_Phuong = 0 OR K.ID_Phuong = @ID_Phuong)
   --AND (@ID_LoaiKhachHang = -1 OR K.ID_LoaiKhachHang = @ID_LoaiKhachHang)
   --AND (@ID_KenhBanHang = 0 OR K.ID_NhomKH = @ID_KenhBanHang)
   and (@DiaChi ='' or upper(k.DiaChi) LIKE N'%'+upper(@DiaChi)+'%' collate SQL_Latin1_General_CP1_CI_AI )
     and (@TenKhachHang ='' or upper(k.TenKhachHang) LIKE N'%'+upper(@TenKhachHang )+'%' collate SQL_Latin1_General_CP1_CI_AI )
	   and (@MaKH ='' or upper(k.MaKH) LIKE N'%'+upper(@MaKH )+'%' collate SQL_Latin1_General_CP1_CI_AI )
	     and (@TenTinh ='' or upper(TI.TenTinh) LIKE N'%'+upper(@TenTinh)+'%' collate SQL_Latin1_General_CP1_CI_AI )
		   and (@TenQuan ='' or upper(QH.TenQuan) LIKE N'%'+upper(@TenQuan)+'%' collate SQL_Latin1_General_CP1_CI_AI )
		     and (@TenPhuong ='' or upper(XP.TenPhuong) LIKE N'%'+upper(@TenPhuong)+'%' collate SQL_Latin1_General_CP1_CI_AI )
			   and (@DienThoai ='' or upper(k.DienThoai) LIKE N'%'+upper(@DienThoai)+'%' collate SQL_Latin1_General_CP1_CI_AI )
			     and ( @Email ='' or upper(k.Email) LIKE N'%'+upper(@Email)+'%' collate SQL_Latin1_General_CP1_CI_AI )
				   and (@TenNhanVien ='' or upper(NV.TenNhanVien) LIKE N'%'+upper(@TenNhanVien)+'%' collate SQL_Latin1_General_CP1_CI_AI )
				     and (@TenLoaiKhachHang ='' or upper(LKH.TenLoaiKhachHang) LIKE N'%'+upper(@TenLoaiKhachHang)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@TenNhomKH ='' or upper(NKH.TenNhomKH) LIKE N'%'+upper(@TenNhomKH)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@MaSoThue  ='' or upper(k.MaSoThue) LIKE N'%'+upper(@MaSoThue)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@NguoiLienHe  ='' or upper(k.NguoiLienHe) LIKE N'%'+upper(@NguoiLienHe)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@GhiChu   ='' or upper(k.GhiChu) LIKE N'%'+upper(  @GhiChu)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 --and (@Ngaytao ='' or CONVERT(VARCHAR(8),k.insertedtime, 112) =  CONVERT(VARCHAR(8), @Ngaytao, 112) )
					 
 )
	SELECT *
	FROM Results_CTE
	WHERE 
	RowNum >=  @startRecord + 1 AND RowNum <=  @startRecord + @maxRecords
 order by TenKhachHang asc

select count(K.ID_KhachHang) soluong
from KhachHang K
  left join KhuVuc KV
  on k.ID_KhuVuc = KV.ID_KhuVuc
  left join NhanVien NV
    on K.ID_NhanVien = NV.ID_NhanVien
  left join TinhThanh TI
    on K.ID_Tinh = TI.ID_Tinh
  left join QuanHuyen QH
    on K.ID_Quan = QH.ID_Quan
  left join PhuongXa XP
    on K.ID_Phuong = XP.ID_Phuong
  left join LoaiKhachHang LKH
    on K.ID_LoaiKhachHang = LKH.ID_LoaiKhachHang
  left join NhomKhachHang NKH
    on K.ID_NhomKH = NKH.ID_NhomKH
	left join KhachHang k1
on ISNULL( K.ID_Cha,0) = K1.ID_KhachHang
 where K.ID_QLLH = @id_qllh
   and K.TrangThai != 1
   and K.TrangThai != 3
   and K.TrangThaiXoa != 1
   and (K.ID_KhachHang IN
       (select ID_KhachHang
           FROM PhanQuyen
          where PhanQuyen.ID_NhanVien IN (select * from @a)
          GROUP BY PhanQuyen.ID_KhachHang)
       OR K.ID_QuanLy = @ID_QuanLy)
   --AND (@ID_Tinh = 0 OR K.ID_Tinh = @ID_Tinh)
   --AND (@ID_Quan = 0 OR K.ID_Quan = @ID_Quan)
   --AND (@ID_Phuong = 0 OR K.ID_Phuong = @ID_Phuong)
   --AND (@ID_LoaiKhachHang = -1 OR K.ID_LoaiKhachHang = @ID_LoaiKhachHang)
   --AND (@ID_KenhBanHang = 0 OR K.ID_NhomKH = @ID_KenhBanHang)
   and (@DiaChi ='' or upper(k.DiaChi) LIKE N'%'+upper(@DiaChi)+'%' collate SQL_Latin1_General_CP1_CI_AI )
     and (@TenKhachHang ='' or upper(k.TenKhachHang) LIKE N'%'+upper(@TenKhachHang )+'%' collate SQL_Latin1_General_CP1_CI_AI )
	   and (@MaKH ='' or upper(k.MaKH) LIKE N'%'+upper(@MaKH )+'%' collate SQL_Latin1_General_CP1_CI_AI )
	     and (@TenTinh ='' or upper(TI.TenTinh) LIKE N'%'+upper(@TenTinh)+'%' collate SQL_Latin1_General_CP1_CI_AI )
		   and (@TenQuan ='' or upper(QH.TenQuan) LIKE N'%'+upper(@TenQuan)+'%' collate SQL_Latin1_General_CP1_CI_AI )
		     and (@TenPhuong ='' or upper(XP.TenPhuong) LIKE N'%'+upper(@TenPhuong)+'%' collate SQL_Latin1_General_CP1_CI_AI )
			   and (@DienThoai ='' or upper(k.DienThoai) LIKE N'%'+upper(@DienThoai)+'%' collate SQL_Latin1_General_CP1_CI_AI )
			     and ( @Email ='' or upper(k.Email) LIKE N'%'+upper(@Email)+'%' collate SQL_Latin1_General_CP1_CI_AI )
				   and (@TenNhanVien ='' or upper(NV.TenNhanVien) LIKE N'%'+upper(@TenNhanVien)+'%' collate SQL_Latin1_General_CP1_CI_AI )
				     and (@TenLoaiKhachHang ='' or upper(LKH.TenLoaiKhachHang) LIKE N'%'+upper(@TenLoaiKhachHang)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@TenNhomKH ='' or upper(NKH.TenNhomKH) LIKE N'%'+upper(@TenNhomKH)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@MaSoThue  ='' or upper(k.MaSoThue) LIKE N'%'+upper(@MaSoThue)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@NguoiLienHe  ='' or upper(k.NguoiLienHe) LIKE N'%'+upper(@NguoiLienHe)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 and (@GhiChu   ='' or upper(k.GhiChu) LIKE N'%'+upper(  @GhiChu)+'%' collate SQL_Latin1_General_CP1_CI_AI )
					 --and (@Ngaytao ='' or CONVERT(VARCHAR(8),k.insertedtime, 112) =  CONVERT(VARCHAR(8), @Ngaytao, 112) )
 end
END