USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_QL_Getdata_Template_Kendo]    Script Date: 8/24/2018 9:28:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TODO
ALTER proc [dbo].[sp_QL_Getdata_Template_Kendo]
 
 as
 begin
	select nv.ChucVu as maHang,
		nv.ChucVu as tenHang,
		nv.ChucVu as tenDonVi,
		nv.ChucVu as tenNhom,
		nv.ChucVu as ten_NhaCungCap,
		nv.ChucVu as ten_NhanHieu,
		nv.ChucVu as giaBuon,
		nv.ChucVu as giaLe,
		nv.ChucVu as ghiChuGia,
		nv.ChucVu as moTa,
		nv.ChucVu as linkGioiThieu 
from NhanVien nv
where nv.ID_NhanVien =-1
select dv.TenDonVi, DV.ID_DonVi from DonVi DV order by dv.TenDonVi asc
select DM.TenDanhMuc, DM.ID_DANHMUC from DANHMUC DM order by dm.TenDanhMuc asc
select NCC.TenNhaCungCap, NCC.ID_NhaCungCap from NhaCungCap NCC order by NCC.TenNhaCungCap asc
select nh.TenNhanHieu, NH.ID_NhanHieu from NhanHieu NH order by NH.TenNhanHieu asc

 end