USE [KSMARTV2DEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_QL_GetDSNhanVien_TheoNhom_Kendo]    Script Date: 8/24/2018 9:28:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[sp_QL_GetDSNhanVien_TheoNhom_Kendo]
@ID_QLLH int,
@ID_Nhom int = 0,
@startRecord int = 0,
@maxRecords int = 50,
@TenDangNhap nvarchar(50) ='',
@TenDayDu nvarchar(50) ='',
@DienThoai nvarchar(50) ='',
@TrangThaiTrucTuyen nvarchar(50) ='',
@PhienBan nvarchar(50) ='',
@TenNhom nvarchar(50) ='',
@ThoiGianGuiBanTinCuoiCung nvarchar(20)=''
as
 begin
 declare @a table
(
id bigint
)
if ( @ID_Nhom = -1)	--lay danh sach ko co nhom
	--select NhanVien.*,tblGPSDinhKy.*,Nhom.TenNhom from NhanVien 
	--left join Nhom on Nhom.ID_Nhom = NhanVien.ID_Nhom
	--left join TaiKhoan on NhanVien.ID_QuanLy = TaiKhoan.idtaikhoan
	--left join tblGPSDinhKy on NhanVien.ID_NhanVien = tblGPSDinhKy.ID_NhanVien
	--where NhanVien.ID_QLLH = @ID_QLLH and NhanVien.TrangThaiXoa !=1
	--AND (NhanVien.ID_Nhom IS NULL OR NhanVien.ID_Nhom = 0)
	--order by NhanVien.TenNhanVien asc
BEGIN
  ;WITH Results_CTE AS
     (select ROW_NUMBER() OVER (ORDER BY A.ID_NhanVien desc) AS RowNum,
		A.* from (select NV.ID_NhanVien,
		NV.ID_QLLH,
		NV.TenDangNhap,
		NV.TenNhanVien,
		NV.DienThoai,
		GPS.KinhDo,
		GPS.ViDo,
		
		--NV.ThoiGianDangXuat,
		case when year(ISNULL(NV.ThoiGianBanTinCuoi, '')) <= 1900 then ''
else CONVERT(VARCHAR(10), NV.ThoiGianBanTinCuoi, 103) end ThoiGianDangXuat,
		NV.versionId,
		N.TenNhom,
		NV.AnhDaiDien_thumbnail_medium,
		NV.AnhDaiDien_thumbnail_small,
		NV.AnhDaiDien,
		case 
		when GPS.tinhTrangPin is null then
		'--%'
		when GPS.tinhTrangPin is not null then
		GPS.tinhTrangPin + '%'
		else 
		'---%'
		end tinhTrangPin,
		case 
		when gps.dangtructuyen =1 then
		   N'Trực tuyến'
		   when gps.dangtructuyen =2 then
		   N'Mất kết nối'
		   else
		   (case when nv.hinhthucdangxuat = 1 then
		   N'Tự động đăng xuất'
		   when nv.hinhthucdangxuat = 0 then 
		   N'Người dùng đăng xuất'
		   else
			N'Ngoại tuyến'
			end)
		end  TrangThaiTrucTuyen
		  from NhanVien NV
		  left join Nhom N
			on N.ID_Nhom = NV.ID_Nhom
		  left join TaiKhoan
			on NV.ID_QuanLy = TaiKhoan.idtaikhoan
		  left join tblGPSDinhKy GPS
			on NV.ID_NhanVien = GPS.ID_NhanVien
		 where NV.ID_QLLH = @ID_QLLH
		   and NV.TrangThaiXoa != 1
		   AND (NV.ID_Nhom IS NULL OR NV.ID_Nhom = 0)) A
		   where (@TenDangNhap ='' or upper(A.TenDangNhap) LIKE N'%'+upper(@TenDangNhap)+'%' collate SQL_Latin1_General_CP1_CI_AI)
		   and (@TenDayDu ='' or upper(A.TenNhanVien) LIKE N'%'+upper(@TenDayDu)+'%' collate SQL_Latin1_General_CP1_CI_AI) 
		   and (@DienThoai ='' or upper(A.DienThoai) LIKE N'%'+upper(@DienThoai)+'%' collate SQL_Latin1_General_CP1_CI_AI)
		   and (@TrangThaiTrucTuyen ='' or upper(A.TrangThaiTrucTuyen) LIKE N'%'+upper(@TrangThaiTrucTuyen)+'%' collate SQL_Latin1_General_CP1_CI_AI)
		   and (@PhienBan ='' or upper(A.versionId) LIKE N'%'+upper(@PhienBan)+'%' collate SQL_Latin1_General_CP1_CI_AI)
		   and (@TenNhom ='' or upper(A.TenNhom) LIKE N'%'+upper(@TenNhom)+'%' collate SQL_Latin1_General_CP1_CI_AI)
		   and (@ThoiGianGuiBanTinCuoiCung ='' or replace(A.ThoiGianDangXuat,'/','') =  replace(@ThoiGianGuiBanTinCuoiCung,'/',''))
		)

	SELECT * FROM Results_CTE WHERE RowNum >=  @startRecord + 1 AND RowNum <=  @startRecord + @maxRecords
		 order by TenNhanVien asc

	--select count(A.ID_NhanVien) soluong
	--from (select NV.ID_NhanVien,
	--	NV.ID_QLLH,
	--	NV.TenDangNhap,
	--	NV.TenNhanVien,
	--	NV.DienThoai,
	--	GPS.KinhDo,
	--	GPS.ViDo,
	--	--NV.ThoiGianDangXuat,
	--	case when year(ISNULL(NV.ThoiGianBanTinCuoi, '')) <= 1900 then ''
 --       else CONVERT(VARCHAR(10), NV.ThoiGianBanTinCuoi, 103) end ThoiGianDangXuat,
	--	NV.versionId,
	--	N.TenNhom,
	--	NV.AnhDaiDien_thumbnail_medium,
	--	NV.AnhDaiDien_thumbnail_small,
	--	NV.AnhDaiDien,
	--	case 
	--	when GPS.tinhTrangPin is null then
	--	'--%'
	--	when GPS.tinhTrangPin is not null then
	--	GPS.tinhTrangPin + '%'
	--	else 
	--	'---%'
	--	end tinhTrangPin,
	--	case 
	--	when gps.dangtructuyen =1 then
	--	   N'Trực tuyến'
	--	   when gps.dangtructuyen =2 then
	--	   N'Mất kết nối'
	--	   else
	--	   (case when nv.hinhthucdangxuat = 1 then
	--	   N'Tự động đăng xuất'
	--	   when nv.hinhthucdangxuat = 0 then 
	--	   N'Người dùng đăng xuất'
	--	   else
	--		N'Ngoại tuyến'
	--		end)
	--	end  TrangThaiTrucTuyen
	--	  from NhanVien NV
	--	  left join Nhom N
	--		on N.ID_Nhom = NV.ID_Nhom
	--	  left join TaiKhoan
	--		on NV.ID_QuanLy = TaiKhoan.idtaikhoan
	--	  left join tblGPSDinhKy GPS
	--		on NV.ID_NhanVien = GPS.ID_NhanVien
	--	 where NV.ID_QLLH = @ID_QLLH
	--	   and NV.TrangThaiXoa != 1
	--	   AND (NV.ID_Nhom IS NULL OR NV.ID_Nhom = 0)) A
	--	   where (@TenDangNhap ='' or upper(A.TenDangNhap) LIKE N'%'+upper(@TenDangNhap)+'%' collate SQL_Latin1_General_CP1_CI_AI)
	--	   and (@TenDayDu ='' or upper(A.TenNhanVien) LIKE N'%'+upper(@TenDayDu)+'%' collate SQL_Latin1_General_CP1_CI_AI) 
	--	   and (@DienThoai ='' or upper(A.DienThoai) LIKE N'%'+upper(@DienThoai)+'%' collate SQL_Latin1_General_CP1_CI_AI)
	--	   and (@TrangThaiTrucTuyen ='' or upper(A.TrangThaiTrucTuyen) LIKE N'%'+upper(@TrangThaiTrucTuyen)+'%' collate SQL_Latin1_General_CP1_CI_AI)
	--	   and (@PhienBan ='' or upper(A.versionId) LIKE N'%'+upper(@PhienBan)+'%' collate SQL_Latin1_General_CP1_CI_AI)
	--	   and (@TenNhom ='' or upper(A.TenNhom) LIKE N'%'+upper(@TenNhom)+'%' collate SQL_Latin1_General_CP1_CI_AI)
	--	   and (@ThoiGianGuiBanTinCuoiCung ='' or replace(A.ThoiGianDangXuat,'/','') =  replace(@ThoiGianGuiBanTinCuoiCung,'/',''))
		
	end
else

BEGIN
	;WITH Results_CTE AS
     (select ROW_NUMBER() OVER (ORDER BY A.ID_NhanVien desc) AS RowNum,
		A.* from (select NV.ID_NhanVien,
		NV.ID_QLLH,
		NV.TenDangNhap,
		NV.TenNhanVien,
		NV.DienThoai,
		GPS.KinhDo,
		GPS.ViDo,
		--NV.ThoiGianDangXuat,
		case when year(ISNULL(NV.ThoiGianDangXuat, '')) <= 1900 then ''
else CONVERT(VARCHAR(10), NV.ThoiGianDangXuat, 103) end ThoiGianDangXuat,
		NV.versionId,
		N.TenNhom,
		NV.AnhDaiDien_thumbnail_medium,
		NV.AnhDaiDien_thumbnail_small,
		NV.AnhDaiDien,
		case 
		when GPS.tinhTrangPin is null then
		'--%'
		when GPS.tinhTrangPin is not null then
		GPS.tinhTrangPin + '%'
		else 
		'---%'
		end tinhTrangPin,
		case 
		when gps.dangtructuyen =1 then
		   N'Trực tuyến'
		   when gps.dangtructuyen =2 then
		   N'Mất kết nối'
		   else
		   (case when nv.hinhthucdangxuat = 1 then
		   N'Tự động đăng xuất'
		   when nv.hinhthucdangxuat = 0 then 
		   N'Người dùng đăng xuất'
		   else
			N'Ngoại tuyến'
			end)
		end  TrangThaiTrucTuyen
  from NhanVien NV
  left join Nhom N
    on N.ID_Nhom = NV.ID_Nhom
  left join TaiKhoan TK
    on NV.ID_QuanLy = TK.idtaikhoan
  left join tblGPSDinhKy GPS
    on NV.ID_NhanVien = GPS.ID_NhanVien
	where ( NV.ID_Nhom  = @ID_Nhom  OR (@ID_Nhom = 0 OR @ID_Nhom = -2 )) 
	and NV.TrangThaiXoa !=1 and NV.ID_QLLH = @ID_QLLH) A 
	 where (@TenDangNhap ='' or upper(A.TenDangNhap) LIKE N'%'+upper(@TenDangNhap)+'%' collate SQL_Latin1_General_CP1_CI_AI)
		   and (@TenDayDu ='' or upper(A.TenNhanVien) LIKE N'%'+upper(@TenDayDu)+'%' collate SQL_Latin1_General_CP1_CI_AI) 
		   and (@DienThoai ='' or upper(A.DienThoai) LIKE N'%'+upper(@DienThoai)+'%' collate SQL_Latin1_General_CP1_CI_AI)
		   and (@TrangThaiTrucTuyen ='' or upper(A.TrangThaiTrucTuyen) LIKE N'%'+upper(@TrangThaiTrucTuyen)+'%' collate SQL_Latin1_General_CP1_CI_AI)
		   and (@PhienBan ='' or upper(A.versionId) LIKE N'%'+upper(@PhienBan)+'%' collate SQL_Latin1_General_CP1_CI_AI)
		   and (@TenNhom ='' or upper(A.TenNhom) LIKE N'%'+upper(@TenNhom)+'%' collate SQL_Latin1_General_CP1_CI_AI)
		   and (@ThoiGianGuiBanTinCuoiCung ='' or replace(A.ThoiGianDangXuat,'/','') =  replace(@ThoiGianGuiBanTinCuoiCung,'/',''))
		   )

	SELECT * FROM Results_CTE WHERE RowNum >=  @startRecord + 1 AND RowNum <=  @startRecord + @maxRecords
	order by TenNhanVien asc

--	select count(A.ID_NhanVien) soluong
--	  from (select NV.ID_NhanVien,
--		NV.ID_QLLH,
--		NV.TenDangNhap,
--		NV.TenNhanVien,
--		NV.DienThoai,
--		GPS.KinhDo,
--		GPS.ViDo,
--		--NV.ThoiGianDangXuat,
--		case when year(ISNULL(NV.ThoiGianDangXuat, '')) <= 1900 then ''
--else CONVERT(VARCHAR(10), NV.ThoiGianDangXuat, 103) end ThoiGianDangXuat,
--		NV.versionId,
--		N.TenNhom,
--		NV.AnhDaiDien_thumbnail_medium,
--		NV.AnhDaiDien_thumbnail_small,
--		NV.AnhDaiDien,
--		case 
--		when GPS.tinhTrangPin is null then
--		'--%'
--		when GPS.tinhTrangPin is not null then
--		GPS.tinhTrangPin + '%'
--		else 
--		'---%'
--		end tinhTrangPin,
--		case 
--		when gps.dangtructuyen =1 then
--		   N'Trực tuyến'
--		   when gps.dangtructuyen =2 then
--		   N'Mất kết nối'
--		   else
--		   (case when nv.hinhthucdangxuat = 1 then
--		   N'Tự động đăng xuất'
--		   when nv.hinhthucdangxuat = 0 then 
--		   N'Người dùng đăng xuất'
--		   else
--			N'Ngoại tuyến'
--			end)
--		end  TrangThaiTrucTuyen
--  from NhanVien NV
--  left join Nhom N
--    on N.ID_Nhom = NV.ID_Nhom
--  left join TaiKhoan TK
--    on NV.ID_QuanLy = TK.idtaikhoan
--  left join tblGPSDinhKy GPS
--    on NV.ID_NhanVien = GPS.ID_NhanVien
--	where ( NV.ID_Nhom  = @ID_Nhom  OR (@ID_Nhom = 0 OR @ID_Nhom = -2 )) 
--	and NV.TrangThaiXoa !=1 and NV.ID_QLLH = @ID_QLLH) A 
--	 where (@TenDangNhap ='' or upper(A.TenDangNhap) LIKE N'%'+upper(@TenDangNhap)+'%' collate SQL_Latin1_General_CP1_CI_AI)
--		   and (@TenDayDu ='' or upper(A.TenNhanVien) LIKE N'%'+upper(@TenDayDu)+'%' collate SQL_Latin1_General_CP1_CI_AI) 
--		   and (@DienThoai ='' or upper(A.DienThoai) LIKE N'%'+upper(@DienThoai)+'%' collate SQL_Latin1_General_CP1_CI_AI)
--		   and (@TrangThaiTrucTuyen ='' or upper(A.TrangThaiTrucTuyen) LIKE N'%'+upper(@TrangThaiTrucTuyen)+'%' collate SQL_Latin1_General_CP1_CI_AI)
--		   and (@PhienBan ='' or upper(A.versionId) LIKE N'%'+upper(@PhienBan)+'%' collate SQL_Latin1_General_CP1_CI_AI)
--		   and (@TenNhom ='' or upper(A.TenNhom) LIKE N'%'+upper(@TenNhom)+'%' collate SQL_Latin1_General_CP1_CI_AI)
--		   and (@ThoiGianGuiBanTinCuoiCung ='' or replace(A.ThoiGianDangXuat,'/','') =  replace(@ThoiGianGuiBanTinCuoiCung,'/',''))
	
	end

END