span.label.box {
    font-size: 1.2rem;
    font-weight:600;
    width: 150px !important;
    vertical-align: middle !important;
    display: inline-block;
    line-height: 2;
}

.img-anhdaidien-grid {
    width: 50px;
    height: 50px;
}

.label-danger {
    color: #fff;
    background-color: #d9534f;
}

.label-warning {
    color: #fff;
    background-color: #f0ad4e;
}

.label-primary {
    color: #fff;
    background-color: #337ab7;
}

.label-info {
    color: #fff;
    background-color: #5bc0de;
}

.label-purple {
    color: #fff;
    background: #984dff;
}

.label-yellow {
    color: #fff;
    background: #fc0;
}