<html>
<head>
    <script src="https://cdn.jsdelivr.net/jsbarcode/3.3.20/JsBarcode.all.min.js"></script>
    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <style>
        body {
            font-family: monospace;
        }
    </style>
</head>
<body style="margin:0;padding:0">
    <input type="hidden" id="mahang" value="{{labelforprint}}" style="display:none" />

    <div style="width: 50%; height: 22px; float: left; text-align: center; font-size: 1.7em; overflow: hidden">{{nameforprint}}</div>
    <div style="width: 50%; height: 22px; float: left; text-align: center; font-size: 1.7em; overflow: hidden ">{{nameforprint}}</div>
    <svg style="width: 50%; float: left; margin: 0; padding: 0;" id="code1"></svg>
    <svg style="width: 50%; float: left; margin: 0; padding: 0;" id="code2"></svg>
    <div style="width: 50%; float: left; text-align: center;font-size:1.7em;">{{priceforprint}} VND</div>
    <div style="width: 50%; float: left; text-align: center ;font-size: 1.7em;">{{priceforprint}} VND</div>
</body>
<script>
    console.log($("#mahang").val());
    JsBarcode("#code1", $("#mahang").val(), {
        width: 4,
        height: 80,
        displayValue: false
    });
    JsBarcode("#code2", $("#mahang").val(), {
        width: 4,
        height: 80,
        displayValue: false
    });
</script>
</html>
